@import ../../sys/sass/vars

.contacts
	padding: 30px 0 0
	&__main
		min-height: 784px
		margin-bottom: 100px
	&__info
		z-index: 2
		max-width: 410px
		padding: 50px 0 0 0
		margin-right: auto
		position: relative
		&:before, &:after
			content: ""
			position: absolute
		&:before
			z-index: -1
			top: 0
			left: 50%
			width: 869px
			height: 784px
			margin-left: -80px
			transform: translateX(-50%)
			background: $pink-grad
			clip-path: path('M869 372.779C869 484.784 802.465 577.618 725.72 651.78C646.851 727.994 556.121 784 434.5 784C314.96 784 234.07 725.711 155.511 651.78C76.3685 577.299 0 486.755 0 372.779C0 145.667 194.532 0 434.5 0C582.645 0 647.289 36.296 725.72 132.22C774.333 191.675 869 285.875 869 372.779Z')
		&:after
			z-index: -2
			top: 0
			left: 50%
			width: 857px
			height: 784px
			margin-left: -35px
			transform: translateX(-50%)
			background: url('../../uploads/icons/contacts-line.svg') no-repeat
			background-size: contain
		&-item
			margin-bottom: 100px
			&:last-of-type
				margin-bottom: 0
		&-title
			margin-bottom: 30px
		&-text
			display: flex
			flex-direction: column
			p, a
				margin-bottom: 20px
				&:last-of-type
					margin-bottom: 0
			strong
				font-size: 24px
				line-height: 41px
	&__desc
		padding-bottom: 48px
		justify-content: space-between
		&-col
			width: calc( 50% - 15px )
		&-title
			margin-bottom: 35px
		&-text
			display: flex
			flex-direction: column
			p, a
				margin-bottom: 32px
				&:last-of-type
					margin-bottom: 0
			strong
				font-size: 24px

.map
	width: 100%
	height: 784px
	top: 0
	right: 0
	border-radius: 150px 0 0 150px
	position: absolute
	overflow: hidden
	&__area
		width: 100%
		height: 100%

.ymaps-2-1-79-ground-pane
	filter: grayscale(100%)
	-webkit-filter: grayscale(100%)

.ymaps-2-1-79-map-copyrights-promo
	display: none

.ymaps-2-1-79-controls__toolbar_left
	opacity: 0

@media screen and (max-width: 1220px)
	.contacts
		padding: 0
		&__info
			&:before
				margin-left: -140px
			&:after
				margin-left: -115px
			&-item
				margin-bottom: 70px
		&__desc
			&-text
				strong
					font-size: 22px

@media screen and (max-width: 992px)
	.contacts
		padding: 115px 0 0
		&__info
			left: 10px
			max-width: 512px
			margin: 0 auto
			padding: 0
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			&:before
				top: -130px
				width: 789px
				height: 712px
				margin-left: -45px
				clip-path: path('M789 338.544C789 440.263 728.59 524.572 658.91 591.923C587.302 661.138 504.925 712 394.5 712C285.965 712 212.522 659.064 141.195 591.923C69.3381 524.282 0 442.053 0 338.544C0 132.29 176.624 0 394.5 0C529.007 0 587.7 32.9627 658.91 120.077C703.048 174.072 789 259.621 789 338.544Z')
			&:after
				top: -130px
				left: -25px
				transform: none
				width: 778px
				height: 712px
				background-size: contain
			&-item
				width: calc( 50% - 38px )
				margin-bottom: 76px
				&:last-of-type
					width: 100%
			&-text
				strong
					display: block
				a
					margin-bottom: 30px
		&__desc
			max-width: 480px
			margin: 0 auto
			padding-bottom: 40px
			&-text
				strong
					font-size: 24px
					margin-bottom: 8px
					display: block
					&.inline
						display: inline
				p
					i
						display: block
						line-height: 34px

	.map
		height: 514px
		margin-top: -125px
		border-radius: 0
		position: relative

@media screen and (max-width: 767px)
	.contacts
		padding: 70px 0 0
		&__info
			&-text
				strong
					font-size: 22px
			&:before
				top: -90px
				height: 616px
				clip-path: path('M732 292.897C732 380.902 671.59 453.843 601.91 512.113C530.302 571.995 447.925 616 337.5 616C228.965 616 155.522 570.202 84.195 512.113C12.3381 453.592 -57 382.45 -57 292.897C-57 114.453 119.624 0 337.5 0C472.007 0 530.7 28.5183 601.91 103.887C646.048 150.602 732 224.616 732 292.897Z')
			&:after
				top: -110px
				left: 0
				height: 640px
				margin-left: -165px
		&__desc
			&-text
				strong
					font-size: 22px

@media screen and (max-width: 580px)
	.contacts
		padding: 10px 0 0
		&__main
			margin-bottom: 70px
			min-height: auto
		&__info
			left: 0
			max-width: 100%
			flex-direction: column
			&:before
				top: -50px
				height: 796px
				margin-left: 0
				clip-path: path('M789 378.484C789 492.205 728.59 586.459 658.91 661.756C587.302 739.137 504.925 796 394.5 796C285.965 796 212.522 736.819 141.195 661.756C69.3381 586.136 0 494.205 0 378.484C0 147.897 176.624 0 394.5 0C529.007 0 587.7 36.8516 658.91 134.244C703.048 194.609 789 290.251 789 378.484Z')
			&:after
				display: none
			&-item
				width: 100%
				margin-bottom: 55px
			&-title
				margin-bottom: 22px
			&-text
				p, a
					margin-bottom: 20px
				strong
					font-size: 24px
				br
					display: none
		&__map
			width: 120%
			left: 50%
			transform: translateX(-50%)
			margin-top: -185px
			overflow: visible
		&__desc
			max-width: 100%
			flex-direction: column
			&-col
				width: 100%
				margin-bottom: 45px
				&:last-of-type
					margin-bottom: 0
			&-title
				margin-bottom: 25px
			&-text
				strong
					font-size: 24px
				p, a
					margin-bottom: 25px
