.contacts__main {
  min-height: 784px;
  margin-bottom: 100px;
}
.contacts__info {
  z-index: 2;
  max-width: 410px;
  padding: 50px 0 0 0;
  position: relative;
}
.contacts__info:before, .contacts__info:after {
  content: "";
  position: absolute;
}
.contacts__info:before {
  z-index: -1;
  top: 0;
  left: 50%;
  width: 869px;
  height: 784px;
  margin-left: -80px;
  transform: translateX(-50%);
  background: linear-gradient(132.06deg, #FFFBFC 13.19%, #FEE1E8 84.33%);
  clip-path: path("M869 372.779C869 484.784 802.465 577.618 725.72 651.78C646.851 727.994 556.121 784 434.5 784C314.96 784 234.07 725.711 155.511 651.78C76.3685 577.299 0 486.755 0 372.779C0 145.667 194.532 0 434.5 0C582.645 0 647.289 36.296 725.72 132.22C774.333 191.675 869 285.875 869 372.779Z");
}
.contacts__info:after {
  z-index: -2;
  top: 0;
  left: 50%;
  width: 857px;
  height: 784px;
  margin-left: -35px;
  transform: translateX(-50%);
  background: url("../../uploads/icons/contacts-line.svg") no-repeat;
  background-size: contain;
}
.contacts__info-item {
  margin-bottom: 100px;
}
.contacts__info-item:last-of-type {
  margin-bottom: 0;
}
.contacts__info-title {
  margin-bottom: 30px;
}
.contacts__info-text {
  display: flex;
  flex-direction: column;
}
.contacts__info-text p, .contacts__info-text a {
  margin-bottom: 20px;
}
.contacts__info-text p:last-of-type, .contacts__info-text a:last-of-type {
  margin-bottom: 0;
}
.contacts__info-text strong {
  font-size: 24px;
  line-height: 41px;
}
.contacts__desc {
  padding-bottom: 60px;
}
.contacts__desc-col {
  width: 50%;
}
.contacts__desc-title {
  margin-bottom: 35px;
}
.contacts__desc-text {
  display: flex;
  flex-direction: column;
}
.contacts__desc-text p, .contacts__desc-text a {
  margin-bottom: 32px;
}
.contacts__desc-text p:last-of-type, .contacts__desc-text a:last-of-type {
  margin-bottom: 0;
}
.contacts__desc-text strong {
  font-size: 24px;
}

.map {
  z-index: -1;
  width: 100%;
  height: 784px;
  top: 0;
  right: 0;
  border-radius: 150px 0 0 150px;
  position: absolute;
  overflow: hidden;
}
.map__area {
  width: 100%;
  height: 100%;
}

.ymaps-2-1-79-ground-pane {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

@media screen and (max-width: 1220px) {
  .contacts__info:before {
    margin-left: -140px;
  }
  .contacts__info-item {
    margin-bottom: 70px;
  }
  .contacts__desc {
    justify-content: space-between;
  }
  .contacts__desc-col {
    width: calc( 50% - 10px );
  }
  .contacts__desc-text strong {
    font-size: 22px;
  }
}