extends ../../templates/default
block vars
	-
		title = "Ам-Ам — Мамина забота"

block content

	+style('intro', 'blocks')
	.intro
		.case
			.intro__wrap.row
				.intro__info
					.intro__title.h1 #[h1 Детские продукты для здорового питания малышей и взрослых]
					.intro__list.h-list
						ul
							li Без добавок
							li Без консервантов
							li Без красителей
					.intro__btn.btn.--green.--md Где купить
				.intro__preview
					.intro__img
						img(src="_/uploads/intro-img.png", alt="" width="704" heigth="813")

	.intro-about
		.case
			.intro-about__wrap.row
				.intro-about__preview
					.intro-about__img
						img(src="_/uploads/about-img.jpg", alt="" width="630" heigth="452")
				.intro-about__info
					.intro-about__title.h2 #[h2 Об Ам-Ам]
					.intro-about__text
						p Секрету нашего успеха уже 16 лет. #[br]Он прост — без химии, без добавок, без консервантов, без красителей!
						p Узнайте о нас больше за 3 минуты.
					.intro-about__act
						.intro-about__arrow
							img(src="_/uploads/icons/arrow.svg", alt="" width="128" heigth="24")
						.intro-about__play
							img(src="_/uploads/icons/play.svg", alt="" width="19" heigth="20")
						