extends ../../templates/default
block vars
	-
		title = "Ам-Ам — Мамина забота"

block content

	+style('intro', 'blocks')
	.intro
		.case
			.intro__wrap.row
				.intro__info
					.intro__title.h1 #[h1 Детские продукты для здорового питания малышей и взрослых]
					.intro__list.h-list
						ul
							li Без добавок
							li Без консервантов
							li Без красителей
					.intro__btn.btn.--green.--md Где купить
				.intro__preview
					.intro__img
						img(src="_/uploads/intro-img.png", alt="" width="704" heigth="813")