extends ../../templates/default
block vars
	-
		title = "Ам-Ам — Мамина забота"

block content

	+style('intro', 'blocks')
	.intro
		.case
			.intro__wrap.row
				.intro__info
					.intro__title.h1 #[h1 Детские продукты для здорового питания малышей и взрослых]
					.intro__list.h-list
						ul
							li Без добавок
							li Без консервантов
							li Без красителей
					.intro__btn.btn.--green.--md Где купить
				.intro__preview
					.intro__img
						img(src="_/uploads/intro-img.png", alt="" width="704" heigth="813")

	.intro-about
		.case
			.intro-about__wrap.row
				.intro-about__preview
					.intro-about__img.cover
						img(src="_/uploads/about-img.jpg", alt="" width="630" heigth="452")
				.intro-about__info
					.intro-about__title.h2 #[h2 Об Ам-Ам]
					.intro-about__text
						p Секрету нашего успеха уже 16 лет. #[br]Он прост — без химии, без добавок, #[br]без консервантов, без красителей!
						p Узнайте о нас больше за 3 минуты.
					.intro-about__act.row
						.intro-about__arrow
							img(src="_/uploads/icons/arrow.svg", alt="" width="128" heigth="24")
						.intro-about__play.play
							img(src="_/uploads/icons/play.svg", alt="" width="19" heigth="20")
						
	+style('favs', 'blocks')
	.favs
		.case
			.favs__title.h2 #[h2 Любимые продукты малышей]
			.favs__list
				.fav__item.p-item.--lg.--f-right
					.p-item__img
						img(src="_/uploads/products/item-1.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Кашка молочно-злаковая #[br]с фруктозой
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-2.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Биотворог с бананом
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-3.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Биотворог с яблоком
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-4.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Детское питание «Цыпленок»
					
				.fav__item.p-item.--lg
					.p-item__img
						img(src="_/uploads/products/item-5.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Бифилайф #[br]«Яблоко-банан»
					
				.fav__item.p-item.--lg.--up
					.p-item__img
						img(src="_/uploads/products/item-6.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Молочный коктейль #[br]«Ваниль»
					
				.fav__item.p-item.--lg.--up
					.p-item__img
						img(src="_/uploads/products/item-7.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Молоко #[br]ультрапастеризованное
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-8.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Фруктовое пюре «Груша-яблоко»
			.favs__act.row
				.favs__btn.btn.--green.--md Где купить
				a.favs__link(href="") Смотреть все
					<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L13.9342 10.5L1 20" stroke="#656565" stroke-linecap="square"/></svg>


