extends ../../templates/default
block vars
	-
		title = "Ам-Ам — Мамина забота"

block content

	+style('intro', 'blocks')
	.intro
		.case
			.intro__wrap.row
				.intro__info
					.intro__title.h1 #[h1 Детские продукты для здорового питания малышей и взрослых]
					.intro__list.h-list
						ul
							li Без добавок
							li Без консервантов
							li Без красителей
					.intro__btn.btn.--green.--md Где купить
				.intro__preview
					.intro__img
						img(src="_/uploads/intro-img.png", alt="" width="704" heigth="813")

	.intro-about
		.case
			.intro-about__wrap.row
				.intro-about__preview
					.intro-about__img.cover
						img(src="_/uploads/about-img.jpg", alt="" width="630" heigth="452")
				.intro-about__info
					.intro-about__title.h2 #[h2 Об Ам-Ам]
					.intro-about__text
						p Секрету нашего успеха уже 16 лет. #[br]Он прост — без химии, без добавок, #[br]без консервантов, без красителей!
						p Узнайте о нас больше за 3 минуты.
					.intro-about__act.row
						.intro-about__arrow
							img(src="_/uploads/icons/arrow.svg", alt="" width="128" heigth="24")
						.intro-about__play.play
							img(src="_/uploads/icons/play.svg", alt="" width="19" heigth="20")
						
	+style('favs', 'blocks')
	.favs
		.case
			.favs__title.h2 #[h2 Любимые продукты малышей]
			.favs__list
				.fav__item.p-item.--lg.--f-right
					.p-item__img
						img(src="_/uploads/products/item-1.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Кашка молочно-злаковая #[br]с фруктозой
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-2.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Биотворог с бананом
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-3.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Биотворог с яблоком
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-4.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Детское питание «Цыпленок»
					
				.fav__item.p-item.--lg
					.p-item__img
						img(src="_/uploads/products/item-5.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Бифилайф #[br]«Яблоко-банан»
					
				.fav__item.p-item.--lg.--up
					.p-item__img
						img(src="_/uploads/products/item-6.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Молочный коктейль #[br]«Ваниль»
					
				.fav__item.p-item.--lg.--up
					.p-item__img
						img(src="_/uploads/products/item-7.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Молоко #[br]ультрапастеризованное
					
				.fav__item.p-item
					.p-item__img
						img(src="_/uploads/products/item-8.png", alt="")
					a.p-item__name(href="")
						.p-item__name-text Фруктовое пюре «Груша-яблоко»
			.favs__act.row
				.favs__btn.btn.--green.--md Где купить
				a.favs__link(href="").link Смотреть все
					<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L13.9342 10.5L1 20" stroke="#656565" stroke-linecap="square"/></svg>

	+style('awards', 'blocks')
	.awards
		.case
			.awards__list-wrap
				.awards__list.row
					.awards__item
						img(src="_/uploads/award-1.png", alt="")
					.awards__item
						img(src="_/uploads/award-2.png", alt="")
					.awards__item
						img(src="_/uploads/award-3.png", alt="")
					.awards__item
						img(src="_/uploads/award-4.png", alt="")
					.awards__item
						img(src="_/uploads/award-5.png", alt="")

	+style('reviews', 'blocks')
	.reviews
		.case
			.reviews__title.h2 #[h2 Что понравилось нашим маленьким покупателям]
			.reviews__slider.swiper
				.reviews__slider-wrap.swiper-wrapper
					.reviews__slide.swiper-slide
						.reviews__preview
							.reviews__img.cover
								img(src="_/uploads/reviews-1.jpg", alt="")
						.reviews__info
							.reviews__rate.rate
								.rate__item
								.rate__item
								.rate__item
								.rate__item
								.rate__item.--none
							.reviews__name Миша Кириллов и его мама пишут:
							.reviews__text Добрый день! Биотворог детский "Ам-ам" меня устраивает по составу, хорошо, в частности, что в нем есть бифидобактерии, а в качестве регулятора кислотности -лимонный сок, хотя и...
					.reviews__slide.swiper-slide
						.reviews__preview
							.reviews__img.cover
								img(src="_/uploads/reviews-2.jpg", alt="")
						.reviews__info
							.reviews__rate.rate
								.rate__item
								.rate__item
								.rate__item
								.rate__item
								.rate__item
							.reviews__name Настенька и ее мама пишут:
							.reviews__text Добрый день! Биотворог детский "Ам-ам" меня устраивает по составу, хорошо, в частности, что в нем есть бифидобактерии, а в качестве регулятора кислотности -лимонный сок, хотя и...
					.reviews__slide.swiper-slide
						.reviews__preview
							.reviews__img.cover
								img(src="_/uploads/reviews-3.jpg", alt="")
						.reviews__info
							.reviews__rate.rate
								.rate__item
								.rate__item
								.rate__item
								.rate__item
								.rate__item
							.reviews__name Лика, Мика и их родители пишут:
							.reviews__text Добрый день! Биотворог детский "Ам-ам" меня устраивает по составу, хорошо, в частности, что в нем есть бифидобактерии, а в качестве регулятора кислотности -лимонный сок, хотя и...
					.reviews__slide.swiper-slide
						.reviews__preview
							.reviews__img.cover
								img(src="_/uploads/reviews-1.jpg", alt="")
						.reviews__info
							.reviews__rate.rate
								.rate__item
								.rate__item
								.rate__item
								.rate__item
								.rate__item.--none
							.reviews__name Миша Кириллов и его мама пишут:
							.reviews__text Добрый день! Биотворог детский "Ам-ам" меня устраивает по составу, хорошо, в частности, что в нем есть бифидобактерии, а в качестве регулятора кислотности -лимонный сок, хотя и...
					.reviews__slide.swiper-slide
						.reviews__preview
							.reviews__img.cover
								img(src="_/uploads/reviews-2.jpg", alt="")
						.reviews__info
							.reviews__rate.rate
								.rate__item
								.rate__item
								.rate__item
								.rate__item
								.rate__item
							.reviews__name Настенька и ее мама пишут:
							.reviews__text Добрый день! Биотворог детский "Ам-ам" меня устраивает по составу, хорошо, в частности, что в нем есть бифидобактерии, а в качестве регулятора кислотности -лимонный сок, хотя и...
					.reviews__slide.swiper-slide
						.reviews__preview
							.reviews__img.cover
								img(src="_/uploads/reviews-3.jpg", alt="")
						.reviews__info
							.reviews__rate.rate
								.rate__item
								.rate__item
								.rate__item
								.rate__item
								.rate__item
							.reviews__name Лика, Мика и их родители пишут:
							.reviews__text Добрый день! Биотворог детский "Ам-ам" меня устраивает по составу, хорошо, в частности, что в нем есть бифидобактерии, а в качестве регулятора кислотности -лимонный сок, хотя и...
					.reviews__slide.swiper-slide
						.reviews__preview
							.reviews__img.cover
								img(src="_/uploads/reviews-1.jpg", alt="")
						.reviews__info
							.reviews__rate.rate
								.rate__item
								.rate__item
								.rate__item
								.rate__item
								.rate__item
							.reviews__name Лика, Мика и их родители пишут:
							.reviews__text Добрый день! Биотворог детский "Ам-ам" меня устраивает по составу, хорошо, в частности, что в нем есть бифидобактерии, а в качестве регулятора кислотности -лимонный сок, хотя и...
				.reviews__controls.row
					.reviews__arrow.swiper-button-prev
						<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9341 0.811523L0.999971 10.3115L13.9341 19.8115" stroke="#656565" stroke-linecap="square"/></svg>
					.reviews__pagination.swiper-pagination
					.reviews__arrow.swiper-button-next
						<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.13477 1L14.0689 10.5L1.13477 20" stroke="#656565" stroke-linecap="square"/></svg>

	+style('promo', 'blocks')
	.promo
		.case
			.promo__wrap.row
				.promo__info
					.promo__title.h2 #[h2 Акция!]
					.promo__arrow
						img(src="_/uploads/icons/arrow.svg", alt="" width="128" heigth="24")
					.promo__text
						p Отправьте отзыв о любом продукте “Ам-Ам” на нашу электронную почту и получите целый набор на сумму #[i 2645 рублей бесплатно.]
					a.promo__link.link(href="") Узнать подробности
						<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L13.9342 10.5L1 20" stroke="#656565" stroke-linecap="square"/></svg>
				.promo__img
					img(src="_/uploads/intro-img.png", alt="" width="375" height="432")

	+style('news', 'blocks')
	.intro-news
		.case
			.intro-news__title.h2 #[h2 Новости от Ам-Ам]
			.intro-news__list.row
				a.intro-news__item.n-item(href="")
					.n-item__preview
						.n-item__img.cover
							img(src="_/uploads/news-1.jpg", alt="")
					.n-item__text Холдинг АМАМ выступил одним из спонсоров благотворительного забега
				a.intro-news__item.n-item(href="")
					.n-item__preview
						.n-item__img.cover
							img(src="_/uploads/news-2.jpg", alt="")
					.n-item__text Агропромышленный Холдинг АМАМ впервые выступает партнером партнером
				a.intro-news__item.n-item(href="")
					.n-item__preview
						.n-item__img.cover
							img(src="_/uploads/news-3.jpg", alt="")
					.n-item__text «Ам-Ам Мамина забота» является спонсором мероприятия PARTIZAN-trail
				a.intro-news__item.n-item(href="")
					.n-item__preview
						.n-item__img.cover
							img(src="_/uploads/news-4.jpg", alt="")
					.n-item__text В Нижнем Новгороде отгремел Ежегодный Мампарад Забег ползунков!
			a.intro-news__link.link(href="") Все новости
				<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L13.9342 10.5L1 20" stroke="#656565" stroke-linecap="square"/></svg>

	+style('arts', 'blocks')
	.intro-arts
		.case
			.intro-arts__title.h2 #[h2 Полезные статьи для мам]
			.intro-arts__list.row
				a.intro-arts__item.a-item(href="")
					.a-item__preview
						.a-item__img.cover
							img(src="_/uploads/art-1.jpg", alt="")
					.a-item__text Список вопросов, ответы на которые должен знать каждый ребенок, ведь каждый ребенок
				a.intro-arts__item.a-item(href="")
					.a-item__preview
						.a-item__img.cover
							img(src="_/uploads/art-2.jpg", alt="")
					.a-item__text Рост и развитие
				a.intro-arts__item.a-item(href="")
					.a-item__preview
						.a-item__img.cover
							img(src="_/uploads/art-3.jpg", alt="")
					.a-item__text Первые документы ребёнка
				a.intro-arts__item.a-item(href="")
					.a-item__preview
						.a-item__img.cover
							img(src="_/uploads/art-4.jpg", alt="")
					.a-item__text Национальный календарь прививок России
			a.intro-arts__link.link(href="") Все статьи
				<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L13.9342 10.5L1 20" stroke="#656565" stroke-linecap="square"/></svg>

	+style('sub', 'blocks')
	.sub
		.case
			.sub__wrap
				.sub__title Подпишитесь на нашу рассылку #[br]и получайте полезные материалы и новости компании прямо на почту
				form.sub__form
					.sub__input.input.--gray.--required
						.input__wrap
							input.input__area(type="email" name="email" placeholder="Электронная почта")
					.sub__check.check.--check.--required
						input.check__input(type="check" name="policy-check")
						.check__wrap
							.check__point
							.check__text Я согласен на обработку своих #[a(href="" target="_blank") персональных данных].
					button.sub__btn.btn.--green.--md Подписаться

