.radio {
  cursor: pointer;
}
.radio__input {
  display: none;
}
.radio__wrap {
  position: relative;
  padding-left: 15px;
}
.radio__wrap.--bottom:before, .radio__wrap.--bottom:after {
  margin-top: 20px;
}
.radio__wrap:before, .radio__wrap:after {
  content: "";
  position: absolute;
  transition: 0.3s;
}
.radio__wrap:before {
  width: 29px;
  height: 29px;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}
.radio__wrap:after {
  z-index: 1;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 9px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
}
.radio.--checked .radio__wrap:before {
  background: #000;
  border-color: #000;
}
.radio.--checked .radio__wrap:after {
  opacity: 1;
  transform: scale(1);
}