@import ../../sys/sass/vars

.catalog
	&__item
		width: calc( 100% / 4 )
	&__filter
		display: flex
		flex-wrap: wrap

.filter
	&__select
		width: auto

.p-item
	display: flex
	flex-wrap: wrap
	align-items: flex-end
	position: relative
	&:before, &:after
		z-index: -1
		content: ""
		position: absolute
	&:before
		top: -10px
		left: 128px
		width: 178px
		height: 172px
		background: url('../../uploads/products/logo.png') no-repeat
	&__img
		width: 200px
	&__name
		min-height: 60px
		width: calc( 100% - 184px )
		margin-left: -18px
		font-family: $ffTitle
		font-size: 24px
		line-height: 36px
	&__name-text
		display: inline-block
		position: relative
		&:before, &:after
			content: ""
			position: absolute
			transition: .4s
			opacity: 0
			visibility: hidden
		&:before
			bottom: -10px
			left: 0
			width: 100%
			height: 1px
			transform: translateY(5px)
			background: url('../../uploads/icons/line.svg') repeat-x
			background-position-x: center
		&:after
			z-index: -1
			top: 10px
			left: 0
			right: 0
			height: calc(100% - 10px)
			width: calc(100% + 10px)
			transform: scale(0)
			background: url('../../uploads/icons/fav-bg.png') no-repeat
			background-size: 100% 100%
			image-rendering: -webkit-optimize-contrast
		&:hover
			&:before, &:after
				opacity: 1
				visibility: visible
			&:before
				transform: translateY(0)
			&:after
				transform: scale(1)
	&.--lg
		padding-left: 38px
		align-items: flex-start
		flex-direction: column
		&:before
			top: auto
			bottom: 10px
			left: -5px
			width: 276px
			height: 266px
			background: url('../../uploads/products/logo-lg.png') no-repeat
		.p-item
			&__img
				width: 142px
				max-height: 290px
				margin-bottom: 20px
			&__name
				min-height: auto
				width: 100%
				margin-left: 0
				padding-left: 6px
	&.--f-right
		grid-column-end: 2
		grid-row-end: span 2
	&.--up
		margin-top: -55%

@media screen and (max-width: 1220px)
	// .catalog

@media screen and (max-width: 992px)
	// .catalog

@media screen and (max-width: 767px)
	// .catalog
