.intro-catalog {
  padding-bottom: 66px;
}
.intro-catalog__title {
  margin-bottom: 78px;
}
.intro-catalog__list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 376px 370px 370px;
  gap: 55px 0;
  align-items: flex-start;
  justify-content: space-between;
}
.intro-catalog__act {
  margin-top: 46px;
  justify-content: center;
}
.intro-catalog__btn {
  max-width: 203px;
}
.intro-catalog__link {
  margin-left: 70px;
}

.p-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
}
.p-item__img {
  width: 200px;
  max-height: 164px;
}
.p-item__params {
  right: 25px;
  bottom: 105px;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
}
.p-item__name {
  min-height: 60px;
  width: calc( 100% - 184px );
  margin-left: -18px;
  font-size: 24px;
  line-height: 36px;
  font-family: "Bad Script", sans-serif;
}
.p-item__name-text {
  display: inline-block;
  position: relative;
}
.p-item__name-text:before, .p-item__name-text:after {
  content: "";
  position: absolute;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.p-item__name-text:before {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  transform: translateY(5px);
  background: url("../../uploads/icons/line.svg") repeat-x;
  background-position-x: center;
}
.p-item__name-text:after {
  z-index: -1;
  top: 10px;
  left: 0;
  right: 0;
  height: calc(100% - 10px);
  width: calc(100% + 10px);
  transform: scale(0);
  background: url("../../uploads/icons/fav-bg.png") no-repeat;
  background-size: 100% 100%;
  image-rendering: -webkit-optimize-contrast;
}
.p-item__name-text:hover:before, .p-item__name-text:hover:after {
  opacity: 1;
  visibility: visible;
}
.p-item__name-text:hover:before {
  transform: translateY(0);
}
.p-item__name-text:hover:after {
  transform: scale(1);
}
.p-item__bg {
  z-index: -2;
  left: 130px;
  bottom: -5px;
  width: 175px;
  height: 168px;
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  clip-path: path("M139.34 22.7664C159.273 41.0245 167.714 64.9776 171.593 87.2405C175.58 110.12 174.529 131.277 159.761 147.4C145.245 163.247 125.05 164.468 102.353 162.831C79.4886 161.182 54.1018 156.546 33.8184 137.967C-6.59858 100.946 -8.89989 51.4119 20.2391 19.6002C38.2282 -0.0388757 52.5371 -2.69193 79.1317 2.54725C95.6154 5.7946 123.875 8.60035 139.34 22.7664Z");
  position: absolute;
}
.p-item__bg:before {
  top: 20px;
  right: 42px;
  width: 56px;
  height: 59px;
  background: url("../../uploads/logos/logo-white.png") no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
}
.p-item.--lg {
  padding-left: 38px;
  align-items: flex-start;
  flex-direction: column;
}
.p-item.--lg .p-item__img {
  width: 142px;
  max-height: 290px;
  margin-bottom: 20px;
}
.p-item.--lg .p-item__name {
  width: 100%;
  margin-left: 0;
  padding-left: 8px;
  min-height: auto;
}
.p-item.--lg .p-item__bg {
  left: 0;
  bottom: 0;
  width: 275px;
  height: 275px;
  clip-path: path("M229.039 24.9416C257.9 51.3777 267.581 88.8348 270.266 124.27C273.024 160.687 268.037 195.104 242.008 223.521C216.424 251.452 184.092 256.595 148.229 257.5C112.099 258.413 72.4237 254.886 43.0551 227.985C-15.4654 174.381 -11.366 94.5472 39.9921 38.4784C71.6982 3.86411 94.8859 -2.67333 136.389 1.64154C162.113 4.31597 206.647 4.43029 229.039 24.9416Z");
}
.p-item.--lg .p-item__bg:before {
  top: 90px;
  right: 25px;
}
.p-item.--f-right {
  grid-row: 1/3;
}
.p-item.--f-up {
  margin-top: -58%;
}

.catalog {
  padding: 23px 0 100px;
}
.catalog__filter {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  align-items: flex-end;
}
.catalog__item {
  padding-left: 0 !important;
}
.catalog__item .p-item__img {
  margin-bottom: 10px;
}
.catalog__item .p-item__name {
  width: 100%;
  margin-left: 0;
  padding-left: 8px;
  font-size: 18px;
  line-height: 27px;
}
.catalog__item .p-item__bg {
  left: 0;
  bottom: -20px;
  width: 275px;
  height: 275px;
  clip-path: path("M229.039 24.9416C257.9 51.3777 267.581 88.8348 270.266 124.27C273.024 160.687 268.037 195.104 242.008 223.521C216.424 251.452 184.092 256.595 148.229 257.5C112.099 258.413 72.4237 254.886 43.0551 227.985C-15.4654 174.381 -11.366 94.5472 39.9921 38.4784C71.6982 3.86411 94.8859 -2.67334 136.389 1.64153C162.113 4.31597 206.647 4.43028 229.039 24.9416Z");
}
.catalog__item .p-item__bg:before {
  top: 45px;
  right: 30px;
}
.catalog__item.--lg .p-item__img {
  margin-left: 25px;
}
.catalog__item.--lg .p-item__bg {
  bottom: -20px;
}
.catalog__item.--lg .p-item__bg:before {
  top: 45px;
  right: 30px;
}
.catalog__pagination {
  margin-top: 55px;
}

.filter__select {
  width: auto;
}
.filter__select:nth-of-type(2) {
  margin-top: -46px;
  margin-left: auto;
}

@media screen and (max-width: 1220px) {
  .intro-catalog__list {
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(380px, 0fr));
  }
  .intro-catalog__item.--f-up {
    margin-top: 0 !important;
  }
  .intro-catalog__item:nth-of-type(7) {
    display: none;
  }
  .intro-catalog__item:nth-of-type(8) {
    grid-row-end: 4;
  }

  .catalog {
    padding: 0 0 100px;
  }
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 60px;
  }
}
@media screen and (max-width: 992px) {
  .intro-catalog__list {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(340px, 0fr));
  }
  .intro-catalog__item:nth-of-type(3) {
    display: none;
  }
  .intro-catalog__item:nth-of-type(8) {
    display: none;
  }

  .p-item.--lg {
    padding-left: 44px;
  }
  .p-item__params {
    right: 35px;
  }

  .catalog {
    padding: 25px 0 100px;
  }
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 0 30px;
  }
  .catalog__item .p-item__img {
    margin-bottom: 20px;
  }
  .catalog__pagination {
    margin-top: 42px;
  }
}
@media screen and (max-width: 767px) {
  .intro-catalog {
    padding-top: 20px;
  }
  .intro-catalog__title {
    margin-bottom: 50px;
  }
  .intro-catalog__list {
    grid-template-columns: repeat(auto-fill, minmax(260px, 0fr));
    gap: 35px 0;
  }
  .intro-catalog__item {
    align-items: flex-start;
    flex-direction: column;
  }
  .intro-catalog__item.--lg {
    padding-left: 10px;
  }
  .intro-catalog__item.--lg .p-item__bg {
    left: -20px;
    transform: scale(0.9);
  }
  .intro-catalog__item .p-item__name {
    width: auto;
    min-height: auto;
    margin-left: 0;
  }
  .intro-catalog__item .p-item__bg {
    left: 70px;
  }
  .intro-catalog__item .p-item__bg:before {
    top: 60px;
    right: 12px;
  }

  .catalog {
    padding: 0 0 70px;
  }
  .catalog__list {
    margin: 0;
    gap: 60px 40px;
  }

  .p-item__params {
    right: 10px;
  }

  .filter {
    align-items: center;
    flex-direction: column;
  }
  .filter__select {
    margin-bottom: 20px;
  }
  .filter__select:nth-of-type(2) {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 580px) {
  .intro-catalog {
    padding-top: 10px;
  }
  .intro-catalog__title {
    margin-bottom: 40px;
  }
  .intro-catalog__list {
    max-width: 278px;
    grid-template-columns: 1fr;
  }
  .intro-catalog__item {
    align-items: flex-end;
    flex-direction: row;
  }
  .intro-catalog__item.--lg {
    padding-left: 30px;
  }
  .intro-catalog__item.--lg .p-item__img {
    margin-left: 0;
    margin-bottom: 17px;
  }
  .intro-catalog__item.--lg .p-item__bg {
    left: 0;
    transform: none;
  }
  .intro-catalog__item .p-item__img {
    margin-left: -20px;
  }
  .intro-catalog__item .p-item__name {
    width: calc( 100% - 184px );
    margin-left: -18px;
  }
  .intro-catalog__item .p-item__bg {
    left: 100px;
  }
  .intro-catalog__item .p-item__bg:before {
    top: 20px;
    right: 42px;
  }
  .intro-catalog__act {
    flex-direction: column;
    align-items: center;
  }
  .intro-catalog__btn {
    max-width: 280px;
    margin-bottom: 30px;
  }
  .intro-catalog__link {
    margin-left: 0;
  }

  .p-item__name {
    font-size: 22px;
    line-height: 33px;
  }

  .p-item__params {
    right: 25px;
  }
  .p-item.--lg .p-item__name {
    padding-left: 0;
  }

  .catalog {
    margin-top: -20px;
  }
  .catalog__filter {
    padding-bottom: 35px;
  }
  .catalog__list {
    margin: 0 auto;
    max-width: 278px;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .catalog__item .p-item__name {
    padding-left: 0;
  }
}