include ../../sys/pug/vars

footer.footer
	.case
		.footer__wrap.row
			.footer__company
				a.footer__logo.logo(href="index.html")
					img(src="_/uploads/logos/logo.png" srcset="_/uploads/logos/logo-x2.png 2x", alt="" width="70" heigth="100")
				.footer__policy #[a(href="" target="_blank") Политика конфиденциальности]
				.footer__copy ©2020. Ам-Ам. Все права защищены
			.footer__nav
				ul
					li
						a(href=".html") Об Ам-Ам
					li
						a(href=".html") Продукты
					li
						a(href=".html") Производство
				ul
					li
						a(href=".html") Акция
					li
						a(href=".html") Статьи
					li
						a(href=".html") Новости
					li
						a(href=".html") Контакты
			.footer__socials.socials
				a.socials__item(href="" target="_blank")
					.socials__img
						img(src="_/uploads/icons/socials/vk.png" srcset="_/uploads/icons/socials/vk-x2.png 2x", alt="")
					.socials__text ВКонтакте
				a.socials__item(href="" target="_blank")
					.socials__img
						img(src="_/uploads/icons/socials/fb.png" srcset="_/uploads/icons/socials/fb-x2.png 2x", alt="")
					.socials__text Facebook
				a.socials__item(href="" target="_blank")
					.socials__img
						img(src="_/uploads/icons/socials/yt.png" srcset="_/uploads/icons/socials/yt-x2.png 2x", alt="")
					.socials__text YouTube
				a.socials__item(href="" target="_blank")
					.socials__img
						img(src="_/uploads/icons/socials/insta.png" srcset="_/uploads/icons/socials/insta-x2.png 2x", alt="")
					.socials__text Instagram
			.footer__info
				.footer__info-title Телефон в Брянске
				.footer__tel #[a(href="tel:84832416261") 8 (4832) 41-62-61]
				.footer__sch Пн-сб.: с 9:00 до 19:00
				a.footer__btn.btn.--green.--md Обратный звонок