.product {
  padding-bottom: 25px;
}
.product__main {
  padding: 0px 0 72px;
  align-items: flex-end;
}
.product__preview {
  width: calc( 100% - 480px - 85px);
  padding: 200px 100px 0;
  margin-right: auto;
  position: relative;
}
.product__preview:before, .product__preview:after {
  content: "";
  position: absolute;
}
.product__preview:before {
  z-index: -1;
  top: 0;
  left: 0;
  width: 769px;
  height: 765px;
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  clip-path: path("M639.62 68.6619C720.223 142.493 747.26 247.105 754.757 346.07C762.462 447.774 748.535 543.897 675.839 623.261C604.387 701.266 514.091 715.629 413.931 718.159C313.026 720.707 202.219 710.857 120.198 635.726C-43.2396 486.02 -31.7907 263.058 111.644 106.468C200.193 9.79605 264.953 -8.4619 380.863 3.5888C452.706 11.058 577.081 11.3773 639.62 68.6619Z");
}
.product__preview:after {
  top: 70px;
  right: 5px;
  width: 130px;
  height: 136px;
  background: url("../../uploads/logos/logo-white.png") no-repeat;
  background-size: contain;
}
.product__img {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}
.product__about {
  width: 480px;
  margin-right: 85px;
  margin-bottom: 70px;
  margin-left: auto;
}
.product__title {
  margin-bottom: 50px;
}
.product__params {
  max-width: 370px;
}
.product__info {
  margin: 0 -15px -70px;
}
.product__info-item {
  width: calc( 50% - 30px );
  margin: 0 15px 70px;
}
.product__info-title {
  margin-bottom: 32px;
}
.product__info-title i {
  display: block;
  margin-top: 10px;
}
.product__info-params {
  max-width: 470px;
}
.product__info-text {
  line-height: 29px;
}
.product__info-text p {
  margin-bottom: 20px;
}
.product__info-text p:last-of-type {
  margin-bottom: 0;
}
.product__info-text-value, .product__info-text-arrow {
  display: inline;
}
.product__info-text-arrow {
  transition: 0.4s;
  cursor: pointer;
}
.product__info-text-arrow svg {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  transform: rotate(90deg);
}
.product__info-text-arrow:hover svg path {
  stroke: #54AA39;
}
.product__info-text.--show .product__info-text-arrow {
  display: none;
}

.params__item {
  width: 100%;
  margin-bottom: 20px;
  line-height: 31px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.params__item:before {
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background: url("../../uploads/icons/line.svg") repeat-x;
  content: "";
  position: absolute;
}
.params__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
  .product__main {
    padding: 60px 0 100px;
  }
  .product__preview {
    width: calc( 100% - 450px - 85px);
    padding: 190px 50px 60px;
  }
  .product__preview:before {
    width: 632px;
    height: 630px;
    clip-path: path("M526.047 57.0897C592.337 117.81 614.573 203.844 620.739 285.235C627.075 368.878 615.621 447.932 555.835 513.202C497.072 577.355 422.81 589.166 340.437 591.247C257.451 593.343 166.322 585.242 98.8662 523.453C-35.5477 400.333 -26.1319 216.965 91.8309 88.1819C164.656 8.67747 217.915 -6.33819 313.241 3.57251C372.327 9.71534 474.614 9.97792 526.047 57.0897Z");
  }
  .product__preview:after {
    right: -90px;
  }
  .product__about {
    width: 370px;
  }
  .product__info {
    margin: 0 -20px -70px;
  }
  .product__info-item {
    width: calc( 50% - 40px );
    margin: 0 20px 70px;
  }
}
@media screen and (max-width: 992px) {
  .product__main {
    padding: 60px 0 50px;
  }
  .product__about {
    order: 1;
    max-width: 300px;
    margin-bottom: 32px;
    margin-right: auto;
  }
  .product__preview {
    order: 2;
    padding: 45px 0;
    width: calc( 100% - 300px - 20px);
  }
  .product__preview:before {
    width: 769px;
    height: 765px;
    left: auto;
    top: -60px;
    right: -20px;
    clip-path: path("M639.62 68.6619C720.223 142.493 747.26 247.105 754.757 346.07C762.462 447.774 748.535 543.897 675.839 623.261C604.387 701.266 514.091 715.629 413.931 718.159C313.026 720.707 202.219 710.857 120.198 635.726C-43.2396 486.02 -31.7907 263.058 111.644 106.468C200.193 9.79605 264.953 -8.4619 380.863 3.5888C452.706 11.058 577.081 11.3773 639.62 68.6619Z");
  }
  .product__preview:after {
    top: -10px;
    left: -150px;
    right: auto;
  }
  .product__info {
    margin: 0;
    max-width: 570px;
    flex-direction: column;
  }
  .product__info-item {
    width: 100%;
    margin: 0 0 75px;
  }
  .product__info-item:nth-of-type(2) {
    order: 1;
  }
  .product__info-item:nth-of-type(4) {
    order: 2;
  }
  .product__info-item:nth-of-type(1) {
    order: 3;
  }
  .product__info-item:nth-of-type(3) {
    order: 4;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .product__main {
    flex-direction: column;
  }
  .product__preview {
    order: 1;
    width: 100%;
    padding: 80px 100px 50px;
  }
  .product__preview:before {
    right: -220px;
  }
  .product__preview:after {
    right: 50px;
    width: 86px;
    height: 90px;
    left: auto;
  }
  .product__about {
    order: 2;
    max-width: 100%;
  }
  .product__info-item {
    margin: 0 0 50px;
  }
}
@media screen and (max-width: 580px) {
  .product__preview {
    padding: 50px 0;
  }
  .product__preview:before {
    right: -380px;
  }
  .product__preview:after {
    top: -40px;
    right: 0;
  }
  .product__about {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .product__title {
    margin-bottom: 30px;
  }
  .product__info {
    max-width: 100%;
    margin: 0;
  }
  .product__info-title {
    margin-bottom: 22px;
  }
  .product__info-text {
    line-height: 30px;
  }
}