.product__main {
  padding: 190px 0 68px;
}
.product__preview {
  width: calc( 100% - 480px - 85px);
  padding-left: 100px;
  margin-right: auto;
  position: relative;
}
.product__preview:before {
  z-index: -1;
  top: -220px;
  left: -10px;
  width: 767px;
  height: 741px;
  background: url("../../uploads/products/logo-product.png") no-repeat;
  content: "";
  position: absolute;
}
.product__img {
  max-width: 400px;
  display: flex;
  justify-content: center;
}
.product__about {
  width: 480px;
  margin-top: 60px;
  margin-right: 85px;
  margin-left: auto;
}
.product__title {
  margin-bottom: 52px;
}
.product__params {
  max-width: 370px;
}
.product__info {
  margin: 0 -15px -67px;
}
.product__info-item {
  width: calc( 50% - 30px );
  margin: 0 15px 67px;
}
.product__info-title {
  margin-bottom: 32px;
}
.product__info-title i {
  display: block;
  margin-top: 10px;
}
.product__info-params {
  max-width: 470px;
}
.product__info-text {
  line-height: 31px;
}
.product__info-text p {
  margin-bottom: 20px;
}
.product__info-text p:last-of-type {
  margin-bottom: 0;
}
.product__info-text-value, .product__info-text-arrow {
  display: inline;
}
.product__info-text-arrow {
  transition: 0.4s;
  cursor: pointer;
}
.product__info-text-arrow svg {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  transform: rotate(90deg);
}
.product__info-text-arrow:hover svg path {
  stroke: #54AA39;
}
.product__info-text.--show .product__info-text-arrow {
  display: none;
}

.params__item {
  width: 100%;
  margin-bottom: 20px;
  line-height: 31px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.params__item:before {
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background: url("../../uploads/icons/line.svg") repeat-x;
  content: "";
  position: absolute;
}
.params__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
  .product__main {
    padding: 180px 0 100px;
  }
  .product__preview {
    width: calc( 100% - 450px - 85px);
  }
  .product__preview:before {
    width: 700px;
    height: 670px;
    background-size: contain;
  }
  .product__about {
    width: 370px;
  }
}