.intro-arts {
  padding-bottom: 72px;
  position: relative;
}
.intro-arts:before {
  z-index: -1;
  content: "";
  top: 70px;
  left: 50%;
  width: 1344px;
  height: 100%;
  transform: translateX(-50%);
  background: linear-gradient(123deg, rgba(250, 215, 185, 0.3) 6.06%, #FAD7B9 93.02%);
  position: absolute;
  clip-path: path("M1339.72 159.518C1344.64 352.595 1045.16 390.225 675.371 422.577C334.471 406.126 5.52584 469.752 0.612715 276.675C-4.30041 83.598 294.844 32.775 664.629 0.422979C1015.42 16.0083 1334.81 -33.559 1339.72 159.518Z");
}
.intro-arts__title {
  margin-bottom: 50px;
}
.intro-arts__list {
  margin: 0 -15px -30px;
}
.intro-arts__link {
  margin-top: 40px;
  justify-content: center;
}

.a-item {
  width: calc( 100% / 4 - 30px );
  margin: 0 15px 30px;
}
.a-item__preview {
  margin-bottom: 30px;
  position: relative;
}
.a-item__preview:before {
  z-index: -1;
  content: "";
  top: 0;
  left: 5px;
  width: 272px;
  height: 198px;
  background: url("../../uploads/icons/news-line.svg") no-repeat;
  background-size: contain;
  position: absolute;
}
.a-item__img {
  width: 259px;
  height: 187px;
  clip-path: path("M42.1238 22.2637C100.784 6.42329 99.0225 18.0315 137.338 6.42329C175.653 -5.18494 203.447 -1.72325 231.821 22.2637C268.836 53.5561 266.729 123.789 231.821 158.177C202.131 187.425 176.209 172.143 137.338 175.468C97.9937 178.833 72.4002 199.531 32.1013 175.468C-8.19765 151.405 -16.5369 38.1041 42.1238 22.2637Z");
}
.a-item__img img {
  transition: 0.4s;
  transform: scale(1);
}
.a-item__text {
  line-height: 27px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.a-item:hover .a-item__img img {
  transform: scale(1.05);
}

@media screen and (max-width: 1220px) {
  .intro-arts__inner {
    overflow: visible;
  }
  .intro-arts__list {
    margin: 0;
    flex-wrap: nowrap;
  }
  .intro-arts__item {
    margin: 0;
  }
}
@media screen and (max-width: 992px) {
  .intro-arts {
    padding-bottom: 80px;
  }
  .intro-arts:before {
    top: 60px;
    width: 780px;
    height: 430px;
    clip-path: path("M777.672 187.667C782.675 384.268 609.026 411.099 394.454 429.872C196.129 400.102 5.64294 452.25 0.64013 255.648C-4.36268 59.047 168.945 18.7833 383.516 0.0107274C587.583 29.2779 772.669 -8.93451 777.672 187.667Z");
  }

  .a-item__preview {
    margin-bottom: 26px;
  }
  .a-item__preview:before {
    width: 216px;
    height: 156px;
  }
  .a-item__img {
    width: 208px;
    height: 150px;
    clip-path: path("M33.699 17.811C80.6276 5.13863 79.218 14.4252 109.87 5.13863C140.523 -4.14795 162.758 -1.3786 185.457 17.811C215.069 42.8449 213.383 99.0309 185.457 126.541C161.704 149.94 140.967 137.715 109.87 140.374C78.395 143.067 57.9202 159.625 25.681 140.374C-6.55812 121.124 -13.2295 30.4833 33.699 17.811Z");
  }
  .a-item__text {
    -webkit-line-clamp: 4;
  }
}
@media screen and (max-width: 767px) {
  .intro-arts {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 580px) {
  .intro-arts {
    padding-bottom: 120px;
  }
  .intro-arts__link {
    margin-top: 34px;
  }
}
@media screen and (max-width: 390px) {
  .intro-arts {
    padding-bottom: 70px;
  }
  .intro-arts:before {
    top: 80px;
    width: 320px;
    height: 385px;
    clip-path: path("M319.832 185.451C324.311 361.478 253.214 378.119 165.185 385.82C83.2403 350.8 5.52915 389.368 1.04988 213.341C-3.42938 37.3141 67.3618 8.6463 155.391 0.944731C239.691 35.7589 315.353 9.42427 319.832 185.451Z");
  }
  .intro-arts__title {
    max-width: 200px;
    margin-bottom: 12px;
  }
}