@import ../../sys/sass/vars

.favs
	padding-bottom: 66px
	&__title
		margin-bottom: 78px
	&__list
		display: grid
		grid-auto-flow: dense
		grid-template-columns: repeat(auto-fill, minmax(374px, 0fr))
		gap: 40px 0
		align-items: flex-start
		justify-content: space-between
	&__act
		margin-top: 46px
		justify-content: center
	&__btn
		max-width: 203px
	&__link
		margin-left: 70px

@media screen and (max-width: 1220px)
	.favs
		&__list
			grid-template-columns: repeat(auto-fill, minmax(300px, 0fr))
		&__item
			.p-item
				&.--lg
					.p-item
						&__img
							width: 122px

@media screen and (max-width: 992px)
	// .favs

@media screen and (max-width: 767px)
	// .favs
