.favs {
  padding-bottom: 66px;
}
.favs__title {
  margin-bottom: 78px;
}
.favs__list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(374px, 0fr));
  gap: 40px 0;
  align-items: flex-start;
  justify-content: space-between;
}
.favs__act {
  margin-top: 50px;
  justify-content: center;
}
.favs__btn {
  max-width: 203px;
}
.favs__link {
  margin-left: 70px;
}