@import ../../sys/sass/vars

.favs
	padding-bottom: 66px
	&__title
		margin-bottom: 78px
	&__list
		display: grid
		grid-auto-flow: dense
		grid-template-columns: repeat(auto-fill, minmax(374px, 0fr))
		gap: 40px 0
		align-items: flex-start
		justify-content: space-between
	&__act
		margin-top: 46px
		justify-content: center
	&__btn
		max-width: 203px
	&__link
		margin-left: 70px

@media screen and (max-width: 1220px)
	.favs
		&__list
			max-width: 800px
			margin: 0 auto
			grid-template-columns: repeat(auto-fill, minmax(380px, 0fr))
		&__item
			&.--up
				margin-top: 0 !important
			&:nth-of-type(7)
				display: none
			&:nth-of-type(8)
				grid-row-end: 4

@media screen and (max-width: 992px)
	// .favs

@media screen and (max-width: 767px)
	// .favs
