.header {
  z-index: 10;
  padding: 15px 0;
  position: relative;
}
.header__wrap {
  justify-content: space-between;
}
.header__logo {
  max-width: 105px;
}
.header__nav {
  width: calc( 50% - 105px );
  margin-top: 28px;
}
.header__nav ul {
  justify-content: space-between;
}
.header__nav ul li {
  transition: 0.3s;
  position: relative;
}
.header__nav ul li:before, .header__nav ul li:after {
  content: "";
  position: absolute;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.header__nav ul li:before {
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(5px);
  background: url("../../uploads/icons/line.svg") repeat-x;
  background-position-x: center;
}
.header__nav ul li:after {
  z-index: -1;
  top: 0;
  left: 50%;
  height: 30px;
  width: calc( 100% + 50px );
  transform: translateX(-50%) scale(0);
  background: url("../../uploads/icons/nav-bg.png") no-repeat;
  background-size: 100% 27px;
}
.header__nav ul li:hover:before, .header__nav ul li:hover:after {
  opacity: 1;
  visibility: visible;
}
.header__nav ul li:hover:before {
  transform: translateY(0);
}
.header__nav ul li:hover:after {
  transform: translateX(-50%) scale(1);
}

@media screen and (max-width: 1220px) {
  .header__logo {
    max-width: 85px;
    height: 121px;
  }
  .header__nav {
    width: calc( 50% - 85px );
  }
  .header__nav ul li:after {
    width: calc( 100% + 30px );
  }
  .header__nav ul li a {
    font-size: 16px;
  }
}