include ../../sys/pug/vars

header.header
	.case
		.header__wrap.row
			.header__nav
				ul
					li
						a(href=".html") Об Ам-Ам
					li
						a(href=".html") Продукты
					li
						a(href=".html") Производство
			.header__logo.logo
				img(src="_/uploads/logos/logo.png" srcset="_/uploads/logos/logo-x2.png 2x", alt="" width="105" heigth="150")
			.header__nav
				ul
					li
						a(href=".html") Акция
					li
						a(href=".html") Статьи
					li
						a(href=".html") Новости
					li
						a(href=".html") Контакты