.header {
  z-index: 10;
  padding: 15px 0;
  min-height: 165px;
  position: relative;
}
.header__wrap {
  justify-content: space-between;
}
.header__logo {
  top: 0;
  left: 50%;
  max-width: 105px;
  transform: translateX(-50%);
  position: absolute;
}
.header__inner {
  width: 100%;
  justify-content: space-between;
}
.header__nav {
  width: calc( 50% - 105px );
  margin-top: 28px;
}
.header__nav ul {
  justify-content: space-between;
}
.header__nav ul li {
  transition: 0.3s;
  position: relative;
}
.header__nav ul li:before, .header__nav ul li:after {
  content: "";
  position: absolute;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.header__nav ul li:before {
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(5px);
  background: url("../../uploads/icons/line.svg") repeat-x;
  background-position-x: center;
}
.header__nav ul li:after {
  z-index: -1;
  top: 0;
  left: 50%;
  height: 30px;
  width: calc( 100% + 50px );
  transform: translateX(-50%) scale(0);
  background: url("../../uploads/icons/nav-bg.png") no-repeat;
  background-size: 100% 27px;
  image-rendering: -webkit-optimize-contrast;
}
.header__nav ul li:hover:before, .header__nav ul li:hover:after {
  opacity: 1;
  visibility: visible;
}
.header__nav ul li:hover:before {
  transform: translateY(0);
}
.header__nav ul li:hover:after {
  transform: translateX(-50%) scale(1);
}

.ham {
  display: none;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.ham div {
  width: 50px;
  height: 5px;
  background: #656565;
  border-radius: 5px;
  margin-bottom: 15px;
}
.ham div:nth-of-type(1) {
  transition: background 0.3s, transform 0.3s ease-in-out;
  transform-origin: 0 0;
}
.ham div:nth-of-type(2) {
  transition: background 0.3s, transform 0.15s ease-in-out;
}
.ham div:nth-of-type(3) {
  transition: background 0.3s, transform 0.3s ease-in-out;
  transform-origin: 0 100%;
  margin-bottom: 0;
}
.ham:hover div {
  background: #54AA39;
}
.ham.--toggle div {
  background: #656565;
}
.ham.--toggle div:nth-of-type(1) {
  transform: rotate(45deg);
  margin-bottom: 9px;
}
.ham.--toggle div:nth-of-type(2) {
  transform: scaleY(0);
}
.ham.--toggle div:nth-of-type(3) {
  transform: rotate(-45deg);
}
.ham.--toggle:hover div {
  background: #656565;
}

@media screen and (max-width: 1220px) {
  .header {
    min-height: 155px;
  }
  .header__logo {
    max-width: 85px;
    height: 121px;
  }
  .header__nav {
    width: calc( 50% - 85px );
  }
  .header__nav ul li:after {
    width: calc( 100% + 30px );
  }
  .header__nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 0;
    min-height: 100px;
  }
  .header__logo {
    z-index: 10;
    max-width: 70px;
    height: 100px;
    left: 0;
    transform: none;
    position: relative;
  }
  .header__inner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding-top: 132px;
    transition: 0.4s;
    background: #fff;
    visibility: hidden;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__inner.--show {
    opacity: 1;
    visibility: visible;
  }
  .header__nav {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .header__nav:last-of-type {
    margin-bottom: 0;
  }
  .header__nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__nav ul li {
    margin-bottom: 30px;
  }
  .header__nav ul li:last-of-type {
    margin-bottom: 0;
  }
  .header__ham {
    margin-top: 24px;
  }

  .ham {
    display: flex;
  }
}
@media screen and (max-width: 580px) {
  .header__logo {
    margin-left: 0;
  }
  .header__nav ul li {
    margin-bottom: 20px;
  }
  .header__nav ul li:after {
    width: calc( 100% + 60px );
  }
  .header__nav ul li a {
    font-size: 18px;
  }
  .header__ham {
    margin-top: 15px;
  }

  .ham div {
    width: 40px;
    margin-bottom: 10px;
  }
  .ham.--toggle div:nth-of-type(1) {
    margin-bottom: 7px;
  }
}