.about {
  padding: 58px 0 100px;
}
.about__preview {
  width: 657px;
  margin-right: auto;
  position: relative;
}
.about__preview:before {
  content: "";
  left: 0;
  top: 0;
  width: 659px;
  height: 473px;
  background: url("../../uploads/icons/intro-line-2.svg") no-repeat;
  position: absolute;
}
.about__img {
  height: 452px;
  clip-path: path("M102.501 53.7754C245.242 15.5147 240.955 43.553 334.189 15.5147C427.423 -12.5236 495.055 -4.1623 564.098 53.7754C654.169 129.359 649.041 298.997 564.098 382.057C491.851 452.703 428.776 415.792 334.189 423.823C238.451 431.951 176.174 481.944 78.1131 423.823C-19.9476 365.702 -40.2398 92.0361 102.501 53.7754Z");
}
.about__info {
  width: calc( 100% - 657px );
  margin-top: 85px;
  padding-right: 30px;
  padding-left: 42px;
  position: relative;
}
.about__info:before {
  z-index: -1;
  content: "";
  top: 50%;
  margin-top: -25px;
  left: -70px;
  width: 538px;
  height: 485px;
  transform: translateY(-50%);
  background: linear-gradient(123deg, rgba(250, 215, 185, 0.3) 6.06%, #FAD7B9 93.02%);
  clip-path: path("M538 230.609C538 299.899 496.808 357.328 449.295 403.206C400.467 450.354 344.296 485 269 485C194.993 485 144.914 448.941 96.2775 403.206C47.2799 357.13 0 301.117 0 230.609C0 90.1131 120.435 0 269 0C360.717 0 400.738 22.4535 449.295 81.7942C479.391 118.575 538 176.849 538 230.609Z");
  position: absolute;
}
.about__title {
  margin-bottom: 40px;
}
.about__text {
  line-height: 31px;
}
.about__text p {
  margin-bottom: 42px;
}
.about__text p:last-of-type {
  margin-bottom: 0;
}
.about__act {
  margin-top: 44px;
  position: relative;
}
.about__learn {
  width: calc( 100% - 73px );
}
.about__arrow {
  top: 44px;
  right: 70px;
  position: absolute;
}
.about__play {
  top: -30px;
}

@media screen and (max-width: 1220px) {
  .about {
    padding: 100px 0;
  }
  .about__preview {
    width: 520px;
  }
  .about__preview:before {
    width: 545px;
    height: 400px;
    left: -10px;
    background-size: contain;
  }
  .about__img {
    height: 381px;
    clip-path: path("M84.6388 45.3728C202.505 13.0905 198.965 36.7477 275.951 13.0905C352.938 -10.5668 408.784 -3.51193 465.795 45.3728C540.17 109.146 535.936 252.278 465.795 322.36C406.138 381.966 354.055 350.823 275.951 357.599C196.897 364.457 145.473 406.638 64.5007 357.599C-16.4714 308.559 -33.2274 77.6552 84.6388 45.3728Z");
  }
  .about__info {
    width: calc( 100% - 520px );
    margin-top: 45px;
  }
  .about__text p {
    margin-bottom: 25px;
  }
  .about__text br {
    display: none;
  }
  .about__learn {
    padding-right: 50px;
  }
}
@media screen and (max-width: 992px) {
  .about {
    padding: 100px 0 40px;
  }
  .about__preview {
    width: 470px;
    margin-left: -30px;
  }
  .about__preview:before {
    width: 469px;
    height: 336px;
    left: 0;
    top: 5px;
  }
  .about__img {
    width: 450px;
    height: 322px;
    clip-path: path("M73.1706 38.3876C175.066 11.0752 172.006 31.0904 238.561 11.0752C305.116 -8.93999 353.395 -2.97126 402.682 38.3876C466.979 92.3427 463.319 213.439 402.682 272.732C351.108 323.162 306.082 296.814 238.561 302.546C170.219 308.349 125.762 344.036 55.7611 302.546C-14.2396 261.056 -28.7252 65.7001 73.1706 38.3876Z");
  }
  .about__info {
    width: calc( 100% - 470px );
    margin-top: 40px;
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;
  }
  .about__info:before {
    left: -100px;
    margin-top: -32px;
    width: 455px;
    height: 410px;
    clip-path: path("M455 194.948C455 253.522 420.163 302.071 379.98 340.854C338.685 380.711 291.18 410 227.5 410C164.91 410 122.557 379.517 81.4243 340.854C39.9858 301.904 0 254.553 0 194.948C0 76.178 101.855 0 227.5 0C305.067 0 338.914 18.9813 379.98 69.1456C405.433 100.238 455 149.501 455 194.948Z");
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__act {
    margin-top: 70px;
    margin-left: -472px;
    max-width: 548px;
  }
  .about__learn {
    padding-right: 80px;
  }
  .about__arrow {
    top: 20px;
    right: 80px;
  }
  .about__play {
    top: -45px;
  }
}
@media screen and (max-width: 767px) {
  .about {
    padding: 50px 0 70px;
  }
  .about__wrap {
    padding-top: 30px;
  }
  .about__preview {
    display: none;
  }
  .about__info {
    width: 350px;
    margin-top: 0;
    padding-top: 0;
  }
  .about__info:before {
    left: -30px;
    margin-top: -20px;
  }
  .about__act {
    max-width: 460px;
    margin-left: 0;
  }
  .about__learn {
    padding-right: 40px;
  }
  .about__arrow {
    top: 40px;
  }
}
@media screen and (max-width: 580px) {
  .about {
    padding: 100px 0 33px;
  }
  .about__wrap {
    padding-top: 50px;
  }
  .about__info:before {
    left: -110px;
    margin-top: -45px;
    width: 493px;
    height: 445px;
    clip-path: path("M493 211.59C493 275.165 455.253 327.857 411.714 369.952C366.971 413.211 315.498 445 246.5 445C178.683 445 132.792 411.915 88.2245 369.952C43.3253 327.676 0 276.283 0 211.59C0 82.6811 110.362 0 246.5 0C330.545 0 367.219 20.6017 411.714 75.0483C439.293 108.795 493 162.263 493 211.59Z");
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__act {
    margin-top: 30px;
    max-width: 280px;
  }
  .about__learn {
    width: 100%;
    padding-right: 0;
    line-height: 31px;
  }
  .about__arrow {
    top: 75px;
    right: 87px;
  }
  .about__play {
    top: -12px;
    margin-right: 5px;
    margin-left: auto;
  }
}