@import ../../sys/sass/vars

.about
	padding: 58px 0 100px
	&__preview
		width: 657px
		margin-right: auto
		position: relative
		&:before
			content: ""
			left: 0
			top: 0
			width: 659px
			height: 473px
			background: url('../../uploads/icons/intro-line-2.svg') no-repeat
			position: absolute
	&__img
		height: 452px
		clip-path: path('M102.501 53.7754C245.242 15.5147 240.955 43.553 334.189 15.5147C427.423 -12.5236 495.055 -4.1623 564.098 53.7754C654.169 129.359 649.041 298.997 564.098 382.057C491.851 452.703 428.776 415.792 334.189 423.823C238.451 431.951 176.174 481.944 78.1131 423.823C-19.9476 365.702 -40.2398 92.0361 102.501 53.7754Z')
	&__info
		width: calc( 100% - 657px )
		margin-top: 85px
		padding-right: 30px
		padding-left: 42px
		position: relative
		&:before
			z-index: -1
			content: ""
			top: 50%
			margin-top: -25px
			left: -70px
			width: 538px
			height: 485px
			transform: translateY(-50%)
			background: $peach-grad
			clip-path: path('M538 230.609C538 299.899 496.808 357.328 449.295 403.206C400.467 450.354 344.296 485 269 485C194.993 485 144.914 448.941 96.2775 403.206C47.2799 357.13 0 301.117 0 230.609C0 90.1131 120.435 0 269 0C360.717 0 400.738 22.4535 449.295 81.7942C479.391 118.575 538 176.849 538 230.609Z')
			position: absolute
	&__title
		margin-bottom: 40px
	&__text
		line-height: 31px
		p
			margin-bottom: 42px
			&:last-of-type
				margin-bottom: 0
	&__act
		margin-top: 44px
		position: relative
	&__learn
		width: calc( 100% - 73px )
	&__arrow
		top: 44px
		right: 70px
		position: absolute
	&__play
		top: -30px

@media screen and (max-width: 1220px)
	.about
		padding: 100px 0
		&__preview
			width: 520px
			&:before
				width: 545px
				height: 400px
				left: -10px
				background-size: contain
		&__img
			height: 381px
			clip-path: path('M84.6388 45.3728C202.505 13.0905 198.965 36.7477 275.951 13.0905C352.938 -10.5668 408.784 -3.51193 465.795 45.3728C540.17 109.146 535.936 252.278 465.795 322.36C406.138 381.966 354.055 350.823 275.951 357.599C196.897 364.457 145.473 406.638 64.5007 357.599C-16.4714 308.559 -33.2274 77.6552 84.6388 45.3728Z')
		&__info
			width: calc( 100% - 520px )
			margin-top: 45px
		&__text
			p
				margin-bottom: 25px
			br
				display: none
		&__learn
			padding-right: 50px

@media screen and (max-width: 992px)
	// .about

@media screen and (max-width: 767px)
	// .about
