@import ../../sys/sass/vars

.about
	padding: 58px 0 100px
	&__preview
		width: 657px
		margin-right: auto
		position: relative
		&:before
			content: ""
			left: 0
			top: 0
			width: 659px
			height: 473px
			background: url('../../uploads/icons/intro-line-2.svg') no-repeat
			position: absolute
	&__img
		height: 452px
		clip-path: path('M102.501 53.7754C245.242 15.5147 240.955 43.553 334.189 15.5147C427.423 -12.5236 495.055 -4.1623 564.098 53.7754C654.169 129.359 649.041 298.997 564.098 382.057C491.851 452.703 428.776 415.792 334.189 423.823C238.451 431.951 176.174 481.944 78.1131 423.823C-19.9476 365.702 -40.2398 92.0361 102.501 53.7754Z')
	&__info
		width: calc( 100% - 657px )
		margin-top: 85px
		padding-left: 42px
		position: relative
		&:before
			z-index: -1
			content: ""
			top: 50%
			margin-top: -25px
			left: -70px
			width: 538px
			height: 485px
			transform: translateY(-50%)
			background: $peach-grad
			clip-path: path('M538 230.609C538 299.899 496.808 357.328 449.295 403.206C400.467 450.354 344.296 485 269 485C194.993 485 144.914 448.941 96.2775 403.206C47.2799 357.13 0 301.117 0 230.609C0 90.1131 120.435 0 269 0C360.717 0 400.738 22.4535 449.295 81.7942C479.391 118.575 538 176.849 538 230.609Z')
			position: absolute
	&__title
		margin-bottom: 40px
	&__text
		line-height: 31px
		p
			margin-bottom: 42px
			&:last-of-type
				margin-bottom: 0
	&__act
		margin-top: -58px
		margin-right: 35px
		align-items: flex-end
		justify-content: flex-end
	&__arrow
		top: 24px
		position: relative

@media screen and (max-width: 1220px)
	// .about

@media screen and (max-width: 992px)
	// .about

@media screen and (max-width: 767px)
	// .about
