@import ../../sys/sass/vars

.natural
	padding-bottom: 100px
	&__title
		z-index: 1
		position: relative
	&__preview
		width: 688px
		height: 394px
		margin: -60px auto 0
		background: $peach-grad
		clip-path: path('M688 187.34C688 243.629 635.323 290.283 574.563 327.553C512.122 365.854 440.289 394 344 394C249.359 394 185.317 364.707 123.121 327.553C60.4621 290.122 0 244.619 0 187.34C0 73.2052 154.014 0 344 0C461.288 0 512.468 18.2406 574.563 66.4472C613.051 96.3266 688 143.667 688 187.34Z')
		position: relative
	&__img
		width: 518px
		left: 50%
		bottom: 0
		transform: translateX(-50%)
		position: absolute
	&__list
		margin-top: -215px
		margin-bottom: -100px
	&__item
		width: 50%
		margin-bottom: 100px
		position: relative
		&:before
			content: ""
			top: 0
			left: 0
			width: 128px
			height: 24px
			background: url('../../uploads/icons/arrow.svg') no-repeat
			position: absolute
		&:nth-of-type(1)
			&:before
				top: -45px
				left: 240px
				transform: scale(1, -1)
		&:nth-of-type(2)
			&:before
				top: -55px
				left: 250px
				transform: scale(-1, -1) rotate(10deg)
		&:nth-of-type(3)
			&:before
				top: -60px
				left: 220px
				transform: scale(1, -1) rotate(20deg)
		&:nth-of-type(4)
			&:before
				top: 20px
				left: -30px
				transform: scale(-1, 1) rotate(-20deg)
		&:nth-of-type(even)
			margin-left: auto
			.natural
				&__text
					margin-left: auto
		&.--sm
			.natural
				&__text
					max-width: 300px
	&__text
		max-width: 460px
		line-height: 31px

@media screen and (max-width: 1220px)
	.natural
		padding-bottom: 120px
		&__title
			margin-bottom: 50px
		&__inner
			display: flex
			flex-direction: column
			position: relative
		&__list
			order: 1
			margin-top: 0
			margin-bottom: -400px
		&__item
			margin-bottom: 400px
			&:nth-of-type(1)
				&:before
					top: 170px
					left: 100px
					transform: rotate(30deg)
			&:nth-of-type(2)
				&:before
					top: 170px
					left: 200px
					transform: scale(-1, 1) rotate(30deg)
			&:nth-of-type(3)
				&:before
					top: -50px
					left: 100px
					transform: scale(1, 1) rotate(-30deg)
			&:nth-of-type(4)
				&:before
					top: -50px
					left: 250px
					transform: scale(-1, 1) rotate(-30deg)
		&__text
			max-width: 350px
		&__preview
			order: 2
			top: 120px
			left: 130px
			margin: 0 auto
			position: absolute

@media screen and (max-width: 992px)
	.natural
		padding-bottom: 100px
		&__list
			margin-bottom: -416px
		&__item
			max-width: 300px
			margin-bottom: 416px
			&:nth-of-type(1)
				&:before
					top: 180px
					left: 0
					transform: rotate(36deg)
			&:nth-of-type(2)
				&:before
					top: 180px
					left: 125px
					transform: scale(-1, 1) rotate(45deg)
			&:nth-of-type(3)
				&:before
					top: 20px
					left: 200px
			&:nth-of-type(4)
				&:before
					top: -60px
					left: 170px
					transform: scale(1, 1) rotate(-90deg)
		&__preview
			top: 135px
			left: 10px

@media screen and (max-width: 767px)
	.natural
		padding-bottom: 460px
		&__preview
			left: 0
			top: 260px
			width: 538px
			height: 330px
			clip-path: path('M538 156.618C538 203.676 496.808 242.679 449.295 273.837C400.467 305.858 344.296 329.388 269 329.388C194.993 329.388 144.914 304.898 96.2775 273.837C47.2799 242.545 0 204.504 0 156.618C0 61.2003 120.435 0 269 0C360.717 0 400.738 15.2493 449.295 55.5505C479.391 80.53 538 120.107 538 156.618Z')
		&__img
			width: 460px
		&__list
			flex-direction: column
		&__item
			width: 100%
			max-width: 390px
			margin-bottom: 30px
			&.--sm
				.natural
					&__text
						max-width: 100%
			&:nth-of-type(1)
				&:before
					top: 160px
					transform: rotate(90deg)
			&:nth-of-type(2)
				margin-bottom: 360px
				&:before
					top: 130px
					left: 280px
					transform: scale(-1, 1) rotate(90deg)
				.natural
					&__text
						padding-right: 10px
			&:nth-of-type(3)
				&:before
					top: -50px
					left: -50px
					transform: scale(-1, 1) rotate(-90deg)
				.natural
					&__text
						padding-left: 40px
			&:nth-of-type(4)
				&:before
					top: -100px
					left: 250px

@media screen and (max-width: 580px)
	.natural
		&__title
			margin-bottom: 30px
		&__inner
			max-width: 390px
			margin-left: auto
			margin-right: auto
		&__preview
			top: 375px
			left: 50%
			width: 320px
			height: 183px
			transform: translateX(-50%)
			clip-path: path('M320 87.135C320 113.316 295.499 135.015 267.239 152.35C238.196 170.165 204.786 183.256 160 183.256C115.981 183.256 86.1939 169.631 57.2654 152.35C28.1219 134.941 0 113.776 0 87.135C0 34.049 71.6344 0 160 0C214.553 0 238.357 8.48401 267.239 30.9057C285.14 44.8031 320 66.8218 320 87.135Z')
		&__img
			width: 240px
		&__item
			max-width: 250px
			&:nth-of-type(1)
				&:before
					top: 220px
					left: -45px
			&:nth-of-type(2)
				margin-bottom: 200px
				&:before
					top: 170px
					left: 180px
				.natural
					&__text
						padding-left: 20px
						padding-right: 0
			&:nth-of-type(3)
				&:before
					top: -10px
					left: -55px
			&:nth-of-type(4)
				margin-right: -40px
				&:before
					top: -80px
					left: 130px
