.buy {
  padding: 82px 0 78px;
}
.buy__wrap {
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
}
.buy__wrap:before {
  top: -15px;
  left: -20px;
  width: 1172px;
  height: 600px;
  background: url("../../uploads/icons/map-line.svg") no-repeat;
  content: "";
  position: absolute;
}
.buy__map {
  clip-path: path("M182.638 68.8025C436.504 20.5061 428.878 55.8988 594.695 20.5061C760.512 -14.8867 880.796 -4.33219 1003.59 68.8025C1163.78 164.211 1154.66 378.345 1003.59 483.192C875.098 572.368 762.919 525.776 594.695 535.913C424.426 546.173 313.665 609.279 139.263 535.913C-35.1381 462.546 -71.2278 117.099 182.638 68.8025Z");
}

.map {
  width: 100%;
  height: 595px;
}
.map__area {
  width: 100%;
  height: 100%;
}

.ymaps-2-1-79-ground-pane {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

@media screen and (max-width: 1220px) {
  .buy__wrap {
    width: 1170px;
    margin-left: -100px;
  }
}
@media screen and (max-width: 992px) {
  .buy__wrap {
    margin-top: 8px;
    margin-left: -210px;
  }
}
@media screen and (max-width: 767px) {
  .buy {
    padding: 70px 0;
  }
}
@media screen and (max-width: 580px) {
  .buy__title {
    min-height: 90px;
    max-width: 280px;
  }
  .buy__wrap {
    margin-top: -20px;
    margin-left: -320px;
  }
}