@import ../../sys/sass/vars

.btn
	z-index: 1
	position: relative
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	cursor: pointer
	color: $cMain
	font-size: $fzMain
	font-family: $ffMain
	font-weight: 400
	overflow: hidden
	background: transparent
	transition: .3s
	border: none
	outline: none
	width: 100%
