.rec {
  padding: 30px 0 120px;
}
.rec__title {
  margin-bottom: 45px;
}
.rec__desc {
  line-height: 31px;
  max-width: 710px;
  margin: 0 auto 70px;
}
.rec__preview {
  z-index: 1;
  width: 335px;
  position: relative;
}
.rec__preview:before {
  z-index: -1;
  top: -10px;
  left: 15px;
  width: 359px;
  height: 355px;
  background: url("../../uploads/icons/reviews-line.svg") no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
}
.rec__img {
  width: 335px;
  height: 315px;
  clip-path: path("M282.056 30.3588C317.57 62.8315 329.483 108.842 332.786 152.369C336.181 197.101 330.044 239.378 298.014 274.284C266.533 308.592 226.748 314.909 182.617 316.022C138.158 317.143 89.3368 312.81 53.198 279.767C-18.8128 213.922 -13.7684 115.859 49.429 46.9867C88.4441 4.46828 116.977 -3.56199 168.047 1.73817C199.702 5.02331 254.501 5.16373 282.056 30.3588Z");
}
.rec__info {
  width: calc( 100% - 335px );
  line-height: 31px;
  padding: 15px 60px 40px 65px;
  position: relative;
}
.rec__info:before {
  z-index: -1;
  content: "";
  top: -50px;
  left: 50%;
  width: 1203px;
  height: 417px;
  margin-left: -40px;
  transform: translateX(-50%);
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  position: absolute;
  clip-path: path("M1203 198.276C1203 257.851 1110.89 307.228 1004.65 346.674C895.468 387.211 769.867 417 601.5 417C436.015 417 324.035 385.997 215.282 346.674C105.721 307.058 0 258.899 0 198.276C0 77.4787 269.301 0 601.5 0C806.584 0 896.074 19.3054 1004.65 70.3261C1071.95 101.95 1203 152.054 1203 198.276Z");
}
.rec__info:after {
  width: 84px;
  height: 82px;
  top: 0;
  right: 0;
  background: url("../../uploads/icons/quote.png") no-repeat;
  content: "";
  position: absolute;
}
.rec__info p {
  margin-bottom: 20px;
}
.rec__info p:last-of-type {
  margin-bottom: 0;
}
.rec__info p i {
  font-family: "Bad Script", sans-serif;
}

@media screen and (max-width: 1220px) {
  .rec__info:before {
    width: 1002px;
    height: 458px;
    clip-path: path("M1002 217.771C1002 283.203 925.282 337.435 836.791 380.759C745.851 425.282 641.235 458 501 458C363.165 458 269.895 423.949 179.312 380.759C88.0567 337.249 0 284.354 0 217.771C0 85.0965 224.305 0 501 0C671.818 0 746.356 21.2036 836.791 77.2407C892.844 111.974 1002 167.004 1002 217.771Z");
  }
}
@media screen and (max-width: 992px) {
  .rec {
    padding: 30px 0 125px;
  }
  .rec__title {
    margin-bottom: 40px;
  }
  .rec__preview {
    margin-left: -32px;
  }
  .rec__info {
    padding: 17px 0px 40px 20px;
    margin-left: 30px;
  }
  .rec__info:before {
    width: 662px;
    height: 607px;
    margin-left: -110px;
    clip-path: path("M661.179 288.618C661.179 375.337 610.555 447.212 552.164 504.631C492.157 563.638 423.125 607 330.589 607C239.638 607 178.092 561.871 118.321 504.631C58.105 446.965 0 376.862 0 288.618C0 112.781 148.01 0 330.589 0C443.305 0 492.49 28.1017 552.164 102.369C589.151 148.402 661.179 221.334 661.179 288.618Z");
  }
  .rec__info:after {
    right: -10px;
  }
}
@media screen and (max-width: 767px) {
  .rec__desc {
    margin: 0 auto 50px;
  }
  .rec__wrap {
    flex-direction: column;
  }
  .rec__preview {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .rec__info {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .rec__info:before {
    top: -200px;
    margin-left: -50px;
  }
}
@media screen and (max-width: 580px) {
  .rec {
    padding: 30px 0 70px;
  }
  .rec__title {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .rec__desc {
    margin: 0 auto 45px;
  }
  .rec__preview {
    width: 310px;
    left: -20px;
  }
  .rec__preview:before {
    width: 310px;
    height: 307px;
  }
  .rec__img {
    width: 288px;
    height: 274px;
    clip-path: path("M242.347 26.8911C273.082 54.9934 283.391 94.8115 286.25 132.481C289.188 171.192 283.877 207.779 256.158 237.987C228.913 267.679 194.483 273.145 156.291 274.108C117.816 275.078 75.5654 271.329 44.2904 242.732C-18.0289 185.75 -13.6634 100.884 41.0286 41.2811C74.7928 4.48506 99.4857 -2.46446 143.683 2.12238C171.077 4.9654 218.501 5.0869 242.347 26.8911Z");
  }
  .rec__info:before {
    top: -120px;
  }
}
@media screen and (max-width: 390px) {
  .rec__info:before {
    top: -150px;
    margin-left: 20px;
    width: 661px;
    height: 706px;
    clip-path: path("M661 335.691C661 436.553 610.39 520.151 552.015 586.935C492.024 655.566 423.011 706 330.5 706C239.573 706 178.044 653.51 118.289 586.935C58.0893 519.864 0 438.328 0 335.691C0 131.175 147.97 0 330.5 0C443.186 0 492.357 32.685 552.015 119.065C588.992 172.606 661 257.434 661 335.691Z");
  }
  .rec__info:after {
    top: -10px;
    right: -18px;
  }
}