@import ../../sys/sass/vars

.intro-news
	padding-bottom: 85px
	position: relative
	&:before
		z-index: -1
		content: ""
		top: 55px
		left: 50%
		width: 1344px
		height: 100%
		transform: translateX(-50%)
		background: $yellow-grad
		position: absolute
		clip-path: path('M1341.58 290.604C1312.89 481.601 1011.42 466.655 641.636 434.303C308.772 358.906 -26.2242 364.444 2.46475 173.447C31.1537 -17.5498 334.579 -15.6549 704.364 16.6971C1047.12 92.9606 1370.26 99.6071 1341.58 290.604Z')
	&__title
		margin-bottom: 50px
	&__list
		margin: 0 -15px -30px
	&__link
		margin-top: 40px
		justify-content: center

.n-item
	width: calc( 100% / 4 - 30px )
	margin: 0 15px 30px
	&__preview
		margin-bottom: 30px
		position: relative
		&:before
			z-index: -1
			content: ""
			top: 0
			left: 5px
			width: 272px
			height: 198px
			background: url('../../uploads/icons/news-line.svg') no-repeat
			background-size: contain
			position: absolute
	&__img
		width: 259px
		height: 187px
		clip-path: path('M42.1238 22.2637C100.784 6.42329 99.0225 18.0315 137.338 6.42329C175.653 -5.18494 203.447 -1.72325 231.821 22.2637C268.836 53.5561 266.729 123.789 231.821 158.177C202.131 187.425 176.209 172.143 137.338 175.468C97.9937 178.833 72.4002 199.531 32.1013 175.468C-8.19765 151.405 -16.5369 38.1041 42.1238 22.2637Z')
		img
			transition: .4s
			transform: scale(1)
	&__text
		line-height: 27px
		overflow: hidden
		display: -webkit-box
		-webkit-line-clamp: 3
		-webkit-box-orient: vertical
	&:hover
		.n-item
			&__img
				img
					transform: scale(1.05)

@media screen and (max-width: 1220px)
	.intro-news
		&__inner
			overflow: visible
		&__list
			margin: 0
			flex-wrap: nowrap
		&__item
			margin: 0

@media screen and (max-width: 992px)
	.intro-news
		padding-top: 80px
		&:before
			top: 135px
			width: 780px
			height: 430px
			clip-path: path('M779.97 260.241C750.757 454.724 575.087 450.993 360.516 432.22C170.373 368.464 -26.2745 386.742 2.93816 192.259C32.1508 -2.22433 209.817 -11.7818 424.388 6.99074C620.273 71.2491 809.183 65.7571 779.97 260.241Z')

	.n-item
		&__preview
			&:before
				width: 216px
				height: 156px
		&__img
			width: 208px
			height: 150px
			clip-path: path('M33.699 17.811C80.6276 5.13863 79.218 14.4252 109.87 5.13863C140.523 -4.14795 162.758 -1.3786 185.457 17.811C215.069 42.8449 213.383 99.0309 185.457 126.541C161.704 149.94 140.967 137.715 109.87 140.374C78.395 143.067 57.9202 159.625 25.681 140.374C-6.55812 121.124 -13.2295 30.4833 33.699 17.811Z')
		&__text
			-webkit-line-clamp: 5

@media screen and (max-width: 767px)
	.intro-news
		padding-top: 40px
		padding-bottom: 70px
		&:before
			top: 110px

@media screen and (max-width: 580px)
	.intro-news
		padding-top: 20px
		padding-bottom: 40px
		&:before
			top: 80px
		&__link
			margin-top: 34px

	.n-item
		&__preview
			margin-bottom: 26px

@media screen and (max-width: 390px)
	.intro-news
		&:before
			width: 322px
			height: 428px
			clip-path: path('M327.776 234.527C298.671 428.29 225.104 433.449 136.476 425.695C62.0124 372.234 -22.281 400.211 6.82353 206.447C35.9281 12.6839 111.483 -5.71415 200.112 2.03983C276.947 55.7083 356.88 40.7636 327.776 234.527Z')
		&__title
			margin-bottom: 60px
