@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap')

@import vars
@import reset
@import grid

// @import ../../components/btn/btn
// @import ../../components/checkbox/checkbox
// @import ../../components/radio/radio
// @import ../../components/input/input
// @import ../../components/textarea/textarea
// @import ../../components/select/select
// @import ../../components/tabs/tabs

// TYPOGRAPHY	
.h1
	font-size: 48px
	line-height: 72px

.h2
	font-size: 36px
	line-height: 54px

.h3
	font-size: 24px
	line-height: 36px

// COMMON ELEMENTS
.inner
	overflow: hidden

.overflow-disable
	overflow: hidden

.logo
	width: 100%
	display: block
