@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap')

@import vars
@import reset
@import grid

@import ../../components/btn/btn
@import ../../components/input/input
@import ../../components/check/check
@import ../../components/select/select
@import ../../components/textarea/textarea

// TYPOGRAPHY	
.h1
	font-size: 48px
	font-family: $ffTitle
	line-height: 72px

.h2
	font-size: 36px
	font-family: $ffTitle
	line-height: 54px

.h3
	font-size: 24px
	font-family: $ffTitle
	line-height: 36px

// ANIMATION
.fadeIn
	opacity: 0
	&.--loaded
		opacity: 1
		transition: 1.5s
		transition-property: opacity

	&-up
		opacity: 0
		transform: translateY(40px)
		&.--loaded
			opacity: 1
			transition: 1s
			transition-property: opacity, transform
			transform: translateY(0)
	&-scale
		opacity: 0
		transform: scale(.5)
		&.--loaded
			opacity: 1
			transition: 1.5s
			transition-property: opacity, transform
			transform: scale(1)

// COMMON ELEMENTS
.inner
	overflow: hidden

.page
	padding-top: 70px
	// padding-top: 85px

.overflow-disable
	overflow: hidden

.logo
	width: 100%
	display: block

.socials
	&__item
		margin-bottom: 20px
		display: flex
		flex-wrap: wrap
		align-items: center
		&:last-of-type
			margin-bottom: 0
		&:hover
			transform: translateX(-5px)
	&__img
		width: 22px
		height: 20px
		display: flex
		align-items: center
		justify-content: center
		svg
			width: 100%
			height: 100%
	&__text
		width: calc( 100% - 23px )
		padding-left: 5px

.cover
	img
		width: 100%
		height: 100%
		object-fit: cover

.play
	width: 73px
	height: 75px
	display: flex
	align-items: center
	justify-content: center
	position: relative
	cursor: pointer
	&:before, &:after
		content: ""
		transition: .3s
		position: absolute
	&:before
		z-index: -1
		top: 5px
		left: 10px
		width: 73px
		height: 75px
		background: $green-grad
		clip-path: path('M37.9696 17.7544C40.0137 16.6254 42.1695 13.4981 42.1695 13.4981C42.1695 13.4981 45.7077 7.95597 49.1694 5.93138C50.8695 4.93713 51.9157 4.45107 53.836 4.03969C56.154 3.54315 57.6187 3.40144 59.9026 4.03969C63.6377 5.0835 66.0699 7.4605 68.315 10.6606C70.0631 13.1521 70.6358 17.7544 70.6358 17.7544C70.6358 17.7544 71.4551 25.3189 70.6358 30.0503C69.6895 35.5152 65.5026 43.2921 65.5026 43.2921C65.5026 43.2921 60.8717 50.8984 57.1027 55.1151C53.201 59.4803 50.7811 61.845 45.9028 65.0465C42.1403 67.5157 39.8147 68.6038 35.6363 70.2486C32.0892 71.6449 26.3031 73.0861 26.3031 73.0861C26.3031 73.0861 20.3516 74.4459 16.9699 73.0861C13.3589 71.6341 12.2429 69.1516 9.96996 65.9923C7.23246 62.1873 4.89496 55.1151 4.89496 55.1151C4.89496 55.1151 3.19305 50.1003 2.50339 46.6026C2.00219 44.0606 1.52692 42.591 1.11157 39.9817C0.00793666 33.0484 0.63675 22.0107 0.63675 22.0107C0.63675 22.0107 1.23304 16.0965 2.50339 12.5523C3.47622 9.83815 5.77002 5.93138 5.77002 5.93138C5.77002 5.93138 8.33696 3.21746 9.96996 2.14801C12.0054 0.815013 15.1032 0.729248 15.1032 0.729248C15.1032 0.729248 19.6229 0.858066 22.1031 2.14801C25.2008 3.75906 28.1697 8.7689 28.1697 8.7689C28.1697 8.7689 30.4327 14.9169 33.303 17.7544C34.0031 18.4465 34.6534 18.7002 35.6348 18.7002C36.6162 18.7002 37.1084 18.23 37.9696 17.7544Z')
	&:after
		z-index: 1
		top: 0
		left: 0
		width: 73px
		height: 75px
		background: url('../../uploads/icons/heart-line.svg') no-repeat
	&:hover
		&:before
			left: 0

.rate
	display: flex
	flex-wrap: wrap
	align-items: center
	&__item
		width: 20px
		height: 20px
		margin-right: 10px
		background: url('../../uploads/icons/heart-pink-line.svg') no-repeat
		background-size: contain
		&:last-of-type
			margin-right: 0
		&.--none
			background: url('../../uploads/icons/heart-line-sm.svg') no-repeat
			background-size: contain

.link
	display: flex
	align-items: center
	svg
		left: 0
		margin-left: 15px
		position: relative
	&:hover
		svg
			left: 5px

.h-list
	ul
		flex-direction: column
		li
			padding-left: 34px
			position: relative
			&:before
				content: ""
				top: 0
				left: 0
				width: 20px
				height: 20px
				background: url('../../uploads/icons/heart.svg') no-repeat
				position: absolute

.pt0
	padding-top: 0 !important

.pb0
	padding-bottom: 0 !important

.tac
	text-align: center

.pagination
	display: flex
	align-items: center
	justify-content: center
	&__links
		margin: 0 50px
		display: flex
		flex-wrap: wrap
	&__link
		width: 45px
		height: 46px
		font-size: 24px
		margin-right: 20px
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		position: relative
		&:before, &:after
			content: ""
			transition: .3s
			position: absolute
		&:before
			z-index: -1
			top: 5px
			left: 5px
			width: 45px
			height: 48px
			background: $green-grad
			opacity: 0
			transform: scale(0)
			visibility: hidden
			clip-path: path('M46.1346 24.5362C46.1346 45.7472 35.9455 47 23.3767 47C11.8296 41.9275 0.618774 45.7472 0.618774 24.5362C0.618774 3.32516 10.8078 0.623047 23.3767 0.623047C35.2601 5.69553 46.1346 3.32516 46.1346 24.5362Z')
		&:after
			z-index: 1
			top: 0
			left: 0
			width: 45px
			height: 48px
			background: url('../../uploads/icons/slider-arrow-line.svg') no-repeat
		&:last-of-type
			margin-right: 0
		&:hover
			&:before
				opacity: 1
				visibility: visible
				transform: scale(1)
		&.--current
			cursor: default
			&:before
				opacity: 1
				visibility: visible
				transform: scale(1)
	&__arrow
		transform: translateX(0)
		&.--prev
			&:hover
				transform: translateX(-5px)
		&.--next
			&:hover
				transform: translateX(5px)

.form
	&__wrap
		width: 100%
		max-width: 828px
		padding: 100px 140px
		margin: 0 auto
		position: relative
		&:before, &:after
			content: ""
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			position: absolute
		&:before
			width: 828px
			height: 498px
			background: url('../../uploads/icons/form-line.svg') no-repeat
			background-size: contain
		&:after
			z-index: -1
			width: 757px
			height: 476px
			background: $yellow-grad
			clip-path: path('M757 226.33C757 294.333 699.04 350.697 632.186 395.724C563.483 441.996 484.446 476 378.5 476C274.367 476 203.902 440.61 135.469 395.724C66.5259 350.503 0 295.53 0 226.33C0 88.4409 169.46 0 378.5 0C507.551 0 563.864 22.0369 632.186 80.2764C674.534 116.374 757 173.567 757 226.33Z')
	&__title
		text-align: center
		margin-bottom: 30px
	&__subtitle
		line-height: 31px
		text-align: center
		margin: 0 auto 40px
		max-width: 540px
	&__form
		margin: 0 auto
		max-width: 380px
		display: flex
		flex-direction: column
		align-items: center
	&__input
		margin-bottom: 20px
	&__textarea
		margin-bottom: 20px
	&__check
		margin-bottom: 20px
	&__btn
		max-width: 203px
		margin-left: -15px

.fancybox
	&__content
		&:focus:not(.carousel__button.is-close)
			outline: none !important
		video
			outline: none !important

// SLDIER
.swiper-button-prev, .swiper-button-next
	width: 45px
	height: 46px
	transition: .3s
	&:before, &:after
		content: ""
		transition: .3s
		position: absolute
	&:before
		z-index: -1
		top: 5px
		left: 5px
		width: 203px
		height: 64px
		background: $green-grad
		clip-path: path('M46.1346 24.5362C46.1346 45.7472 35.9455 47 23.3767 47C11.8296 41.9275 0.618774 45.7472 0.618774 24.5362C0.618774 3.32516 10.8078 0.623047 23.3767 0.623047C35.2601 5.69553 46.1346 3.32516 46.1346 24.5362Z')
	&:after
		z-index: 1
		top: 0
		left: 0
		width: 45px
		height: 48px
		background: url('../../uploads/icons/slider-arrow-line.svg') no-repeat
	&:hover
		&:before
			left: 0
	&.swiper-button-disabled
		opacity: 1
		&:before
			opacity: 0

.swiper-pagination
	&-bullet
		opacity: 1
		margin: 0 10px !important
		background: transparent
		position: relative
		transition: .3s
		&:before, &:after
			content: ""
			transition: .3s
			position: absolute
		&:before
			opacity: 0
			transform: scale(0)
			z-index: -1
			top: 1px
			left: 2px
			width: 15px
			height: 14px
			background: $green-grad
			clip-path: path('M14.5159 7.76083C14.5159 14.1241 11.4591 14.5 7.6885 14.5C4.22438 12.9782 0.861145 14.1241 0.861145 7.76083C0.861145 1.39755 3.91786 0.586914 7.6885 0.586914C11.2535 2.10865 14.5159 1.39755 14.5159 7.76083Z')
		&:after
			z-index: 1
			top: 0
			left: 0
			width: 15px
			height: 14px
			background: url('../../uploads/icons/slider-bullet-line.svg') no-repeat
			background-size: contain
	&-bullet-active
		&:before
			opacity: 1
			transform: scale(1)

@media screen and (max-width: 1220px)
	.socials
		&__item
			margin-bottom: 23px
		&__text
			font-size: 16px

@media screen and (max-width: 992px)
	.h1
		font-size: 40px
		line-height: 60px

	.socials
		display: flex
		flex-wrap: wrap
		&__item
			margin-right: 23px
			margin-bottom: 0
			display: block
			&:last-of-type
				margin-right: 0
			&:hover
				transform: translateY(-5px) translateX(0)
		&__img
			width: 33px
			height: 30px
		&__text
			display: none

	.form
		&__wrap
			padding: 100px 80px

@media screen and (max-width: 767px)
	.form
		&__wrap
			padding: 80px

@media screen and (max-width: 580px)
	.h2
		font-size: 30px
		line-height: 45px

	.socials
		&__item
			margin-right: 35px

	.form
		&__wrap
			padding: 70px 0