.sub {
  padding-bottom: 100px;
}
.sub__wrap {
  width: 100%;
  max-width: 828px;
  padding: 88px 140px;
  margin: 0 auto;
  position: relative;
}
.sub__wrap:before, .sub__wrap:after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.sub__wrap:before {
  width: 828px;
  height: 498px;
  background: url("../../uploads/icons/form-line.svg") no-repeat;
  background-size: contain;
}
.sub__wrap:after {
  z-index: -1;
  width: 757px;
  height: 476px;
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  clip-path: path("M757 226.33C757 294.333 699.04 350.697 632.186 395.724C563.483 441.996 484.446 476 378.5 476C274.367 476 203.902 440.61 135.469 395.724C66.5259 350.503 0 295.53 0 226.33C0 88.4409 169.46 0 378.5 0C507.551 0 563.864 22.0369 632.186 80.2764C674.534 116.374 757 173.567 757 226.33Z");
}
.sub__title {
  line-height: 31px;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 540px;
}
.sub__form {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub__input {
  margin-bottom: 40px;
}
.sub__check {
  margin-bottom: 20px;
}
.sub__btn {
  max-width: 203px;
  margin-left: -15px;
}