.check {
  cursor: pointer;
  transition: 0.3s;
}
.check__input {
  display: none;
}
.check__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.check__point {
  transition: 0.3s;
  position: relative;
}
.check__text {
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.check__text a {
  border-bottom: 1px solid transparent;
}
.check__text a:hover {
  border-color: rgba(0, 0, 0, 0.7);
}
.check.--check .check__point {
  width: 20px;
  height: 20px;
  position: relative;
}
.check.--check .check__point:before, .check.--check .check__point:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}
.check.--check .check__point:before {
  top: 0;
  left: 0;
  background: url("../../uploads/icons/slider-bullet-line.svg") no-repeat;
  background-size: contain;
}
.check.--check .check__point:after {
  opacity: 0;
  z-index: -1;
  top: 2px;
  left: 4px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M19.6286 10.3125C19.6286 19.4597 15.2346 20 9.81432 20C4.83464 17.8125 0 19.4597 0 10.3125C0 1.16528 4.39402 0 9.81432 0C14.939 2.1875 19.6286 1.16528 19.6286 10.3125Z");
}
.check.--check .check__text {
  width: calc( 100% - 20px );
  font-size: 12px;
  padding-left: 15px;
}
.check.--check.--checked .check__point:after {
  opacity: 1;
  left: 0;
}
.check.--error .check__text {
  color: #ff1d1d;
}