.farm {
  padding-bottom: 205px;
}
.farm__info {
  width: calc( 100% - 585px - 25px );
  margin-right: auto;
  position: relative;
}
.farm__info:before {
  z-index: -1;
  content: "";
  top: 0;
  left: 50%;
  width: 789px;
  height: 530px;
  margin-left: -30px;
  transform: translateX(-50%);
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  position: absolute;
  clip-path: path("M789 252.006C789 327.724 728.59 390.482 658.91 440.617C587.302 492.139 504.925 530 394.5 530C285.965 530 212.522 490.596 141.195 440.617C69.3381 390.266 0 329.056 0 252.006C0 98.4741 176.624 0 394.5 0C529.007 0 587.7 24.5369 658.91 89.3834C703.048 129.576 789 193.257 789 252.006Z");
}
.farm__title {
  margin-bottom: 40px;
}
.farm__text {
  line-height: 31px;
}
.farm__text p {
  margin-bottom: 20px;
}
.farm__text p:last-of-type {
  margin-bottom: 0;
}
.farm__preview {
  width: 585px;
  margin-right: 25px;
  margin-left: auto;
  position: relative;
}
.farm__preview:before {
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 610px;
  height: 437px;
  background: url("../../uploads/icons/farm-line.svg") no-repeat;
  background-size: contain;
  position: absolute;
}
.farm__img {
  width: 585px;
  height: 419px;
  clip-path: path("M95.5802 49.8886C228.004 14.3933 224.026 40.405 310.521 14.3933C397.016 -11.6184 459.76 -3.86145 523.813 49.8886C607.374 120.009 602.616 277.386 523.813 354.442C456.788 419.982 398.272 385.739 310.521 393.189C221.704 400.73 163.928 447.109 72.9548 393.189C-18.0181 339.269 -36.8436 85.3838 95.5802 49.8886Z");
}

@media screen and (max-width: 1220px) {
  .farm {
    padding-bottom: 120px;
  }
  .farm__wrap {
    flex-direction: column;
  }
  .farm__info {
    width: 790px;
  }
  .farm__info:before {
    width: 874px;
    height: 460px;
    clip-path: path("M874 218.722C874 284.44 807.082 338.909 729.895 382.422C650.573 427.139 559.321 460 437 460C316.773 460 235.417 425.8 156.406 382.422C76.8079 338.722 0 285.596 0 218.722C0 85.4681 195.652 0 437 0C585.997 0 651.013 21.2961 729.895 77.578C778.788 112.463 874 167.733 874 218.722Z");
  }
  .farm__preview {
    margin-top: 20px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 992px) {
  .farm__info {
    width: 663px;
    padding-right: 110px;
  }
  .farm__info:before {
    width: 663px;
    height: 530px;
    clip-path: path("M663 252.006C663 327.724 612.237 390.482 553.685 440.617C493.512 492.139 424.291 530 331.5 530C240.298 530 178.583 490.596 118.647 440.617C58.2651 390.266 0 329.056 0 252.006C0 98.4741 148.418 0 331.5 0C444.526 0 493.846 24.5369 553.685 89.3834C590.774 129.576 663 193.257 663 252.006Z");
  }
  .farm__preview {
    margin-top: 10px;
    margin-right: -5px;
  }
}