extends ../../templates/default
block vars
	-
		title = "Биотворог с яблоком"

block content

	+style('product', 'blocks')
	.product
		.case
			.product__main.row
				.product__preview
					.product__img
						img(src="_/uploads/products/item-3.png", alt="")
				.product__about
					.product__title.h2 #[h2 Биотворог с яблоком]
					.product__params.params
						.params__item
							.params__name Для детей
							.params__value от 6 мес.
						.params__item
							.params__name Масса нетто
							.params__value 100 г
			.product__info.row
				.product__info-item
					.product__info-title #[h3.h3 Пищевая ценность] #[i На 100 грамм]
					.product__info-params.params
						.params__item
							.params__name Жиры
							.params__value 4,2 г
						.params__item
							.params__name Белки
							.params__value 7,6 г
						.params__item
							.params__name Углеводы
							.params__value 11,2 г
						.params__item
							.params__name Сахароза
							.params__value 7,5 г
						.params__item
							.params__name Кальций
							.params__value 85 мг
						.params__item
							.params__name Энерг. ценность
							.params__value 74,5 кКал
				.product__info-item
					.product__info-title.h3 #[h3 Особенности продукта]
					.product__info-text.--has-toggle
						p Биотворог обогащен пробиотическими культурами, польза которых состоит в укреплении защитных сил организма ребенка, нормализации работы кишечника, восстановлении микрофлоры.
						p Продукт предназначен для непосредственного употребления в пищу детей и является источником кальция и фосфора, необходимых для развития костной ткани в организме ребенка. Для детей старше 6 месяцев.
						p Его получают методом ультрафильтрации, что значительно повышает пищевую ценность
						p Биотворог обогащен пробиотическими культурами, польза которых состоит в укреплении защитных сил организма ребенка, нормализации работы кишечника, восстановлении микрофлоры.
				.product__info-item
					.product__info-title.h3 #[h3 Условия хранения]
					.product__info-text
						p Хранить 14 суток при температуре 4±2°С. #[br]Вскрытая упаковка хранению не подлежит.
				.product__info-item
					.product__info-title.h3 #[h3 Способ употребления]
					.product__info-text
						p Перед употреблением рекомендованную врачом массу продукта из упаковки переложить чистой ложкой в чистую прокипяченную посуду, подогреть на водяной бане до температуры от 36°С до 38°С.

	+style('buy', 'blocks')
	.buy.pb0
		.case
			.buy__title.h2.an.fadeIn-up #[h2 Где купить продукты Ам-Ам]
			.buy__wrap.an.fadeIn
				.buy__map.map
					.map__area#map-buy(data-map="55.753215, 37.622504" data-placeholder="55.753215, 37.622504")
					script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
					.map__list
						.map__item(data-placeholder="55.755819, 37.617644")
						.map__item(data-placeholder="59.939099, 30.315877") 
						.map__item(data-placeholder="58.522857, 31.269816") 
						.map__item(data-placeholder="56.859625, 35.911860") 
						.map__item(data-placeholder="54.513845, 36.261224") 
						.map__item(data-placeholder="56.838011, 60.597474") 
						.map__item(data-placeholder="51.128207, 71.430420")
						.map__item(data-placeholder="51.660781, 39.200296") 
						.map__item(data-placeholder="49.992167, 36.231202") 
						.map__item(data-placeholder="50.450441, 30.523550") 
						.map__item(data-placeholder="50.450441, 30.523550") 
						.map__item(data-placeholder="48.707067, 44.516975") 
						.map__item(data-placeholder="47.222078, 39.720358")
						.map__item(data-placeholder="44.948237, 34.100318") 
						.map__item(data-placeholder="45.035470, 38.975313") 
						.map__item(data-placeholder="52.721295, 41.452750") 
						.map__item(data-placeholder="51.533562, 46.034266") 