extends ../../templates/default
block vars
	-
		title = "Каталог"

block content
	.page

		+style('catalog', 'blocks')
		.catalog
			.case
				.catalog__filter.filter
					.filter__select.select(data-placeholder="Все").--list
						.select__wrap
							.select__label Продукт:
							.select__area
								.select__title
								.select__icon
								.select__bg
									img(src="_/uploads/icons/select-line.png", alt="")
							.select__drop
								select.select__parse(name="select-product")
									option(value="Все") Все
									option(value="Биотворог") Биотворог
									option(value="Бифилайф") Бифилайф
									option(value="Молоко") Молоко
									option(value="Кефир") Кефир
									option(value="Биолакт") Биолакт
									option(value="Молочные каши") Молочные каши
									option(value="Молочные коктейли") Молочные коктейли
									option(value="Мясные пюре") Мясные пюре
									option(value="Фруктовые пюре") Фруктовые пюре
									option(value="Овощные пюре") Овощные пюре
					.filter__select.select(data-placeholder="Все")
						.select__wrap
							.select__label Возраст:
							.select__area
								.select__title
								.select__icon
								.select__bg
									img(src="_/uploads/icons/select-line.png", alt="")
							.select__drop
								select.select__parse(name="select-age")
									option(value="Все") Все
									option(value="4 мес") 4 мес
									option(value="5 мес.") 5 мес.
									option(value="6 мес.") 6 мес.
									option(value="8 мес.") 8 мес.
									option(value="12 мес.") 12 мес.
				.catalog__main
					.catalog__list.row
						.catalog__item.p-item.--lg
							.p-item__img
								img(src="_/uploads/products/item-1.png", alt="")
							.p-item__params
								p 74,5 ккал
								p 210 гр
							a.p-item__name(href="")
								.p-item__name-text Кашка молочно-злаковая #[br]с фруктозой
							.p-item__bg
						.catalog__item.p-item
							.p-item__img
								img(src="_/uploads/products/item-2.png", alt="")
							.p-item__params
								p 113 ккал
								p 100 гр
							a.p-item__name(href="")
								.p-item__name-text Биотворог с бананом
							.p-item__bg
						.catalog__item.p-item
							.p-item__img
								img(src="_/uploads/products/item-3.png", alt="")
							.p-item__params
								p 113 ккал
								p 100 гр
							a.p-item__name(href="")
								.p-item__name-text Биотворог с яблоком
							.p-item__bg
						.catalog__item.p-item
							.p-item__img
								img(src="_/uploads/products/item-4.png", alt="")
							.p-item__params
								p 125 ккал
								p 90 гр
							a.p-item__name(href="")
								.p-item__name-text Детское питание #[br]«Цыпленок»
							.p-item__bg
						.catalog__item.p-item
							.p-item__img
								img(src="_/uploads/products/item-8.png", alt="")
							.p-item__params
								p 45 ккал
								p 90 гр
							a.p-item__name(href="")
								.p-item__name-text Фруктовое пюре #[br]«Груша-яблоко»
							.p-item__bg
						.catalog__item.p-item.--lg
							.p-item__img
								img(src="_/uploads/products/item-6.png", alt="")
							.p-item__params
								p 63,3 ккал
								p 205 гр
							a.p-item__name(href="")
								.p-item__name-text Молочный коктейль #[br]«Ваниль»
							.p-item__bg
						.catalog__item.p-item.--lg
							.p-item__img
								img(src="_/uploads/products/item-5.png", alt="")
							.p-item__params
								p 76,1 ккал
								p 210 гр
							a.p-item__name(href="")
								.p-item__name-text Бифилайф #[br]«Яблоко-банан»
							.p-item__bg
						.catalog__item.p-item.--lg
							.p-item__img
								img(src="_/uploads/products/item-7.png", alt="")
							.p-item__params
								p 58 ккал
								p 205 гр
							a.p-item__name(href="")
								.p-item__name-text Молоко #[br]ультрапастеризованное
							.p-item__bg
					.catalog__pagination.pagination
						a.pagination__arrow.--prev(href="")
							<svg width="15" height="22" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.069 1.5L1.13483 11L14.069 20.5" stroke="#656565" stroke-linecap="square"/></svg>
						.pagination__links
							a.pagination__link(href="").--current 1
							a.pagination__link(href="") 2
							a.pagination__link(href="") 3
							a.pagination__link(href="") 4
							a.pagination__link(href="") 5
							a.pagination__link(href="") 6
						a.pagination__arrow.--next(href="")
							<svg width="15" height="22" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.782806 1.5L13.717 11L0.782806 20.5" stroke="#656565" stroke-linecap="square"/></svg>

		+style('awards', 'blocks')
		.awards
			.case
				.awards__list-wrap
					.awards__list.row
						.awards__item
							img(src="_/uploads/award-1.png", alt="")
						.awards__item
							img(src="_/uploads/award-2.png", alt="")
						.awards__item
							img(src="_/uploads/award-3.png", alt="")
						.awards__item
							img(src="_/uploads/award-4.png", alt="")
						.awards__item
							img(src="_/uploads/award-5.png", alt="")

		+style('buy', 'blocks')
		.buy.pt0.pb0
			.case
				.buy__title.h2.an.fadeIn-up #[h2 Где купить продукты Ам-Ам]
				.buy__wrap.an.fadeIn
					.buy__map.map
						.map__area#map-buy(data-map="55.753215, 37.622504" data-placeholder="55.753215, 37.622504")
						script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
						.map__list
							.map__item(data-placeholder="55.755819, 37.617644")
							.map__item(data-placeholder="59.939099, 30.315877") 
							.map__item(data-placeholder="58.522857, 31.269816") 
							.map__item(data-placeholder="56.859625, 35.911860") 
							.map__item(data-placeholder="54.513845, 36.261224") 
							.map__item(data-placeholder="56.838011, 60.597474") 
							.map__item(data-placeholder="51.128207, 71.430420")
							.map__item(data-placeholder="51.660781, 39.200296") 
							.map__item(data-placeholder="49.992167, 36.231202") 
							.map__item(data-placeholder="50.450441, 30.523550") 
							.map__item(data-placeholder="50.450441, 30.523550") 
							.map__item(data-placeholder="48.707067, 44.516975") 
							.map__item(data-placeholder="47.222078, 39.720358")
							.map__item(data-placeholder="44.948237, 34.100318") 
							.map__item(data-placeholder="45.035470, 38.975313") 
							.map__item(data-placeholder="52.721295, 41.452750") 
							.map__item(data-placeholder="51.533562, 46.034266")
