*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

html.with-fancybox {
  overflow: hidden;
}

body {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

input, textarea {
  outline: none !important;
  appearance: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-autofill {
  transition: background 5000s ease-in-out 0s;
}

button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

svg {
  display: block;
}

path, circle, rect, line {
  transition: 0.3s;
}