@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

html.with-fancybox {
  overflow: hidden;
}

body {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

input, textarea {
  outline: none !important;
  appearance: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-autofill {
  transition: background 5000s ease-in-out 0s;
}

button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

svg {
  display: block;
  transition: 0.3s;
}

path, circle, rect, line {
  transition: 0.3s;
}

.case {
  position: relative;
  width: 1190px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1220px) {
  .case {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .case {
    width: 730px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    width: 560px;
  }
}
@media screen and (max-width: 580px) {
  .case {
    width: 390px;
  }
}
@media screen and (max-width: 410px) {
  .case {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: transparent;
  transition: 0.3s;
  border: none;
  outline: none;
  width: 100%;
}
.btn.--green:before, .btn.--green:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.btn.--green:before {
  z-index: -1;
  top: 5px;
  left: 20px;
  width: 203px;
  height: 64px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M203 33C203 62.2711 157.557 64 101.5 64C50 57 -3.05176e-05 62.2711 -3.05176e-05 33C-3.05176e-05 3.72891 45.4431 0 101.5 0C154.5 7 203 3.72891 203 33Z");
}
.btn.--green:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 203px;
  height: 64px;
  background: url("../../uploads/icons/btn-line.svg") no-repeat;
}
.btn.--green:hover:before {
  left: 0;
}
.btn.--md {
  min-height: 69px;
}

.h1 {
  font-size: 48px;
  font-family: "Bad Script", sans-serif;
  line-height: 72px;
}

.h2 {
  font-size: 36px;
  font-family: "Bad Script", sans-serif;
  line-height: 54px;
}

.h3 {
  font-size: 24px;
  line-height: 36px;
}

.inner {
  overflow: hidden;
}

.overflow-disable {
  overflow: hidden;
}

.logo {
  width: 100%;
  display: block;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play {
  width: 73px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.play:before, .play:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.play:before {
  z-index: -1;
  top: 5px;
  left: 10px;
  width: 73px;
  height: 75px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M37.9696 17.7544C40.0137 16.6254 42.1695 13.4981 42.1695 13.4981C42.1695 13.4981 45.7077 7.95597 49.1694 5.93138C50.8695 4.93713 51.9157 4.45107 53.836 4.03969C56.154 3.54315 57.6187 3.40144 59.9026 4.03969C63.6377 5.0835 66.0699 7.4605 68.315 10.6606C70.0631 13.1521 70.6358 17.7544 70.6358 17.7544C70.6358 17.7544 71.4551 25.3189 70.6358 30.0503C69.6895 35.5152 65.5026 43.2921 65.5026 43.2921C65.5026 43.2921 60.8717 50.8984 57.1027 55.1151C53.201 59.4803 50.7811 61.845 45.9028 65.0465C42.1403 67.5157 39.8147 68.6038 35.6363 70.2486C32.0892 71.6449 26.3031 73.0861 26.3031 73.0861C26.3031 73.0861 20.3516 74.4459 16.9699 73.0861C13.3589 71.6341 12.2429 69.1516 9.96996 65.9923C7.23246 62.1873 4.89496 55.1151 4.89496 55.1151C4.89496 55.1151 3.19305 50.1003 2.50339 46.6026C2.00219 44.0606 1.52692 42.591 1.11157 39.9817C0.00793666 33.0484 0.63675 22.0107 0.63675 22.0107C0.63675 22.0107 1.23304 16.0965 2.50339 12.5523C3.47622 9.83815 5.77002 5.93138 5.77002 5.93138C5.77002 5.93138 8.33696 3.21746 9.96996 2.14801C12.0054 0.815013 15.1032 0.729248 15.1032 0.729248C15.1032 0.729248 19.6229 0.858066 22.1031 2.14801C25.2008 3.75906 28.1697 8.7689 28.1697 8.7689C28.1697 8.7689 30.4327 14.9169 33.303 17.7544C34.0031 18.4465 34.6534 18.7002 35.6348 18.7002C36.6162 18.7002 37.1084 18.23 37.9696 17.7544Z");
}
.play:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 73px;
  height: 75px;
  background: url("../../uploads/icons/heart-line.svg") no-repeat;
}
.play:hover:before {
  left: 0;
}

.rate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.rate__item {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../../uploads/icons/heart-pink-line.svg") no-repeat;
  background-size: contain;
}
.rate__item:last-of-type {
  margin-right: 0;
}
.rate__item.--none {
  background: url("../../uploads/icons/heart-line-sm.svg") no-repeat;
  background-size: contain;
}

.h-list ul {
  flex-direction: column;
}
.h-list ul li {
  padding-left: 34px;
  position: relative;
}
.h-list ul li:before {
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../../uploads/icons/heart.svg") no-repeat;
  position: absolute;
}

.swiper-button-prev, .swiper-button-next {
  width: 45px;
  height: 46px;
  transition: 0.3s;
}
.swiper-button-prev:before, .swiper-button-prev:after, .swiper-button-next:before, .swiper-button-next:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.swiper-button-prev:before, .swiper-button-next:before {
  z-index: -1;
  top: 5px;
  left: 5px;
  width: 203px;
  height: 64px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M46.1346 24.5362C46.1346 45.7472 35.9455 47 23.3767 47C11.8296 41.9275 0.618774 45.7472 0.618774 24.5362C0.618774 3.32516 10.8078 0.623047 23.3767 0.623047C35.2601 5.69553 46.1346 3.32516 46.1346 24.5362Z");
}
.swiper-button-prev:after, .swiper-button-next:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 45px;
  height: 48px;
  background: url("../../uploads/icons/slider-arrow-line.svg") no-repeat;
}
.swiper-button-prev:hover:before, .swiper-button-next:hover:before {
  left: 0;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.swiper-button-prev.swiper-button-disabled:before, .swiper-button-next.swiper-button-disabled:before {
  opacity: 0;
}

.swiper-pagination-bullet {
  opacity: 1;
  margin: 0 10px !important;
  background: transparent;
  position: relative;
  transition: 0.3s;
}
.swiper-pagination-bullet:before, .swiper-pagination-bullet:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.swiper-pagination-bullet:before {
  opacity: 0;
  transform: scale(0);
  z-index: -1;
  top: 1px;
  left: 2px;
  width: 15px;
  height: 14px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M14.5159 7.76083C14.5159 14.1241 11.4591 14.5 7.6885 14.5C4.22438 12.9782 0.861145 14.1241 0.861145 7.76083C0.861145 1.39755 3.91786 0.586914 7.6885 0.586914C11.2535 2.10865 14.5159 1.39755 14.5159 7.76083Z");
}
.swiper-pagination-bullet:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 15px;
  height: 14px;
  background: url("../../uploads/icons/slider-bullet-line.svg") no-repeat;
  background-size: contain;
}
.swiper-pagination-bullet-active:before {
  opacity: 1;
  transform: scale(1);
}