@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

html.with-fancybox {
  overflow: hidden;
}

body {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

input, textarea {
  outline: none !important;
  appearance: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}

button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 500;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

svg {
  display: block;
  transition: 0.3s;
}

path, circle, rect, line {
  transition: 0.3s;
}

.case {
  position: relative;
  width: 1190px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1220px) {
  .case {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .case {
    width: 730px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    width: 560px;
  }
}
@media screen and (max-width: 580px) {
  .case {
    width: 390px;
  }
}
@media screen and (max-width: 410px) {
  .case {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: transparent;
  transition: 0.3s;
  border: none;
  outline: none;
  width: 100%;
}
.btn.--green:before, .btn.--green:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.btn.--green:before {
  z-index: -1;
  top: 5px;
  left: 20px;
  width: 203px;
  height: 64px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M203 33C203 62.2711 157.557 64 101.5 64C50 57 -3.05176e-05 62.2711 -3.05176e-05 33C-3.05176e-05 3.72891 45.4431 0 101.5 0C154.5 7 203 3.72891 203 33Z");
}
.btn.--green:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 203px;
  height: 64px;
  background: url("../../uploads/icons/btn-line.svg") no-repeat;
}
.btn.--green:hover:before {
  left: 0;
}
.btn.--md {
  min-height: 69px;
}

.input {
  display: block;
  transition: 0.3s;
  position: relative;
}
.input__wrap {
  position: relative;
}
.input__area {
  width: 100%;
  color: #656565;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  background: transparent;
  transition: 0.3s;
  position: relative;
}
.input__area::placeholder {
  color: #656565;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  transition: 0.3s;
  opacity: 1;
}
.input__area:focus::placeholder {
  opacity: 0;
}
.input.--gray {
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input.--gray:before {
  content: "";
  top: 50%;
  left: 50%;
  width: 380px;
  height: 64px;
  transform: translate(-50%, -50%);
  background: url("../../uploads/icons/input-line.svg") no-repeat;
  background-size: contain;
  position: absolute;
}
.input.--error .input__area {
  color: #ff1d1d;
}
.input.--error .input__area::placeholder {
  color: #ff1d1d;
}

.check {
  cursor: pointer;
  transition: 0.3s;
}
.check__input {
  display: none;
}
.check__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.check__point {
  transition: 0.3s;
  position: relative;
}
.check__text {
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.check__text a {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.check__text a:hover {
  border-color: transparent;
}
.check.--check .check__point {
  width: 20px;
  height: 20px;
  position: relative;
}
.check.--check .check__point:before, .check.--check .check__point:after {
  content: "";
  width: 20px;
  height: 20px;
  transition: 0.4s;
  position: absolute;
}
.check.--check .check__point:before {
  z-index: 1;
  top: 0;
  left: 0;
  background: url("../../uploads/icons/slider-bullet-line.svg") no-repeat;
  background-size: contain;
}
.check.--check .check__point:after {
  opacity: 0;
  top: 2px;
  left: 4px;
  transform: scale(0);
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M19.6286 10.3125C19.6286 19.4597 15.2346 20 9.81432 20C4.83464 17.8125 0 19.4597 0 10.3125C0 1.16528 4.39402 0 9.81432 0C14.939 2.1875 19.6286 1.16528 19.6286 10.3125Z");
}
.check.--check .check__text {
  width: calc( 100% - 20px );
  font-size: 12px;
  padding-left: 15px;
}
.check.--check.--checked .check__point:after {
  opacity: 1;
  transform: scale(1);
}
.check.--error .check__text {
  color: #ff1d1d;
}

.select {
  z-index: 10;
  width: 100%;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.select select {
  display: none;
}
.select__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.select__label {
  font-size: 18px;
  min-width: 83px;
  margin-right: 20px;
}
.select__area {
  color: #000;
  font-size: 18px;
  padding: 17px 14px;
  transition: 0.3s;
  min-width: 125px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.select__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  position: absolute;
}
.select__bg img {
  width: 100%;
  height: 56px;
  image-rendering: -webkit-optimize-contrast;
}
.select__title {
  color: #000;
  width: calc(100% - 21px -10px);
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
}
.select__icon {
  width: 21px;
  height: 12px;
  margin-left: 10px;
  transition: 0.3s;
  background: url(../../uploads/icons/chevron.svg) no-repeat;
  position: relative;
}
.select__drop {
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: #000;
  overflow: auto;
  transition: 0.3s;
}
.select__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 52px;
}
.select__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
  padding: 8px 12px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}
.select__item::before, .select__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  image-rendering: -webkit-optimize-contrast;
}
.select__item:before {
  z-index: -2;
  background: url("../../uploads/icons/select-item-line.png") no-repeat center/100% 26px;
}
.select__item:after {
  opacity: 0;
  z-index: -1;
  background: url("../../uploads/icons/select-item-line-green.png") no-repeat center/100% 26px;
}
.select__item.--selected::after, .select__item:hover::after {
  opacity: 1;
}
.select.--open {
  z-index: 100;
}
.select.--open .select__area {
  z-index: 2;
  border-color: #000;
  border-bottom-color: transparent;
}
.select.--open .select__icon {
  transform: scale(1, -1);
}
.select.--open .select__drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  overflow: visible;
}
.select.--list .select__label {
  display: none;
}
.select.--list .select__area {
  display: none;
}
.select.--list .select__drop {
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  position: relative;
}
.select.--list .select__list {
  margin: 0 -8px -24px;
  padding-right: 0;
  flex-wrap: wrap;
  flex-direction: row;
}
.select.--list .select__item {
  font-size: 18px;
  padding: 8px 16px;
  margin: 0 8px 24px;
}
.select.--list .select__item:before {
  opacity: 0;
  bottom: 0;
  right: auto;
  top: auto;
  width: 100%;
  height: 1px;
  transform: translateY(5px);
  background: url("../../uploads/icons/line.svg") repeat-x;
  background-position-x: center;
}
.select.--list .select__item:after {
  transform: scale(0);
}
.select.--list .select__item:hover:before {
  opacity: 1;
  transform: translateY(0);
}
.select.--list .select__item:hover:after {
  transform: scale(1);
}
.select.--list .select__item.--selected:before {
  opacity: 1;
  transform: translateY(0);
}
.select.--list .select__item.--selected:after {
  transform: scale(1);
}

.textarea {
  display: block;
  transition: 0.3s;
  position: relative;
}
.textarea__wrap {
  position: relative;
}
.textarea__area {
  width: 100%;
  color: #656565;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  background: transparent;
  transition: 0.3s;
  position: relative;
  resize: none;
  scrollbar-width: none;
}
.textarea__area::-webkit-scrollbar {
  width: 0;
}
.textarea__area::placeholder {
  color: #656565;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  transition: 0.3s;
  opacity: 1;
}
.textarea__area:focus::placeholder {
  opacity: 0;
}
.textarea.--gray {
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textarea.--gray:before {
  content: "";
  top: 50%;
  left: 50%;
  width: 380px;
  height: 119px;
  transform: translate(-50%, -50%);
  background: url("../../uploads/icons/textarea-line.svg") no-repeat;
  background-size: contain;
  position: absolute;
}
.textarea.--gray .textarea__wrap {
  width: 100%;
}
.textarea.--gray .textarea__area {
  padding: 20px;
}
.textarea.--error .textarea__area {
  color: #ff1d1d;
}
.textarea.--error .textarea__area::placeholder {
  color: #ff1d1d;
}

.h1 {
  font-size: 48px;
  font-family: "Bad Script", sans-serif;
  line-height: 72px;
}

.h2 {
  font-size: 36px;
  font-family: "Bad Script", sans-serif;
  line-height: 54px;
}

.h3 {
  font-size: 24px;
  font-family: "Bad Script", sans-serif;
  line-height: 36px;
}

.fadeIn {
  opacity: 0;
}
.fadeIn.--loaded {
  opacity: 1;
  transition: 1.5s;
  transition-property: opacity;
}
.fadeIn-up {
  opacity: 0;
  transform: translateY(40px);
}
.fadeIn-up.--loaded {
  opacity: 1;
  transition: 1s;
  transition-property: opacity, transform;
  transform: translateY(0);
}
.fadeIn-scale {
  opacity: 0;
  transform: scale(0.5);
}
.fadeIn-scale.--loaded {
  opacity: 1;
  transition: 1.5s;
  transition-property: opacity, transform;
  transform: scale(1);
}

.inner {
  overflow: hidden;
}

.page {
  padding-top: 70px;
}

.overflow-disable {
  overflow: hidden;
}

.logo {
  width: 100%;
  display: block;
}

.socials__item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.socials__item:last-of-type {
  margin-bottom: 0;
}
.socials__item:hover {
  transform: translateX(-5px);
}
.socials__img {
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials__text {
  width: calc( 100% - 23px );
  padding-left: 5px;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play {
  width: 73px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.play:before, .play:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.play:before {
  z-index: -1;
  top: 5px;
  left: 10px;
  width: 73px;
  height: 75px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M37.9696 17.7544C40.0137 16.6254 42.1695 13.4981 42.1695 13.4981C42.1695 13.4981 45.7077 7.95597 49.1694 5.93138C50.8695 4.93713 51.9157 4.45107 53.836 4.03969C56.154 3.54315 57.6187 3.40144 59.9026 4.03969C63.6377 5.0835 66.0699 7.4605 68.315 10.6606C70.0631 13.1521 70.6358 17.7544 70.6358 17.7544C70.6358 17.7544 71.4551 25.3189 70.6358 30.0503C69.6895 35.5152 65.5026 43.2921 65.5026 43.2921C65.5026 43.2921 60.8717 50.8984 57.1027 55.1151C53.201 59.4803 50.7811 61.845 45.9028 65.0465C42.1403 67.5157 39.8147 68.6038 35.6363 70.2486C32.0892 71.6449 26.3031 73.0861 26.3031 73.0861C26.3031 73.0861 20.3516 74.4459 16.9699 73.0861C13.3589 71.6341 12.2429 69.1516 9.96996 65.9923C7.23246 62.1873 4.89496 55.1151 4.89496 55.1151C4.89496 55.1151 3.19305 50.1003 2.50339 46.6026C2.00219 44.0606 1.52692 42.591 1.11157 39.9817C0.00793666 33.0484 0.63675 22.0107 0.63675 22.0107C0.63675 22.0107 1.23304 16.0965 2.50339 12.5523C3.47622 9.83815 5.77002 5.93138 5.77002 5.93138C5.77002 5.93138 8.33696 3.21746 9.96996 2.14801C12.0054 0.815013 15.1032 0.729248 15.1032 0.729248C15.1032 0.729248 19.6229 0.858066 22.1031 2.14801C25.2008 3.75906 28.1697 8.7689 28.1697 8.7689C28.1697 8.7689 30.4327 14.9169 33.303 17.7544C34.0031 18.4465 34.6534 18.7002 35.6348 18.7002C36.6162 18.7002 37.1084 18.23 37.9696 17.7544Z");
}
.play:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 73px;
  height: 75px;
  background: url("../../uploads/icons/heart-line.svg") no-repeat;
}
.play:hover:before {
  left: 0;
}

.rate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.rate__item {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../../uploads/icons/heart-pink-line.svg") no-repeat;
  background-size: contain;
}
.rate__item:last-of-type {
  margin-right: 0;
}
.rate__item.--none {
  background: url("../../uploads/icons/heart-line-sm.svg") no-repeat;
  background-size: contain;
}

.link {
  display: flex;
  align-items: center;
}
.link svg {
  left: 0;
  margin-left: 15px;
  position: relative;
}
.link:hover svg {
  left: 5px;
}

.h-list ul {
  flex-direction: column;
}
.h-list ul li {
  padding-left: 34px;
  position: relative;
}
.h-list ul li:before {
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../../uploads/icons/heart.svg") no-repeat;
  position: absolute;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.tac {
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__links {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
}
.pagination__link {
  width: 45px;
  height: 46px;
  font-size: 24px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.pagination__link:before, .pagination__link:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.pagination__link:before {
  z-index: -1;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 48px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  clip-path: path("M46.1346 24.5362C46.1346 45.7472 35.9455 47 23.3767 47C11.8296 41.9275 0.618774 45.7472 0.618774 24.5362C0.618774 3.32516 10.8078 0.623047 23.3767 0.623047C35.2601 5.69553 46.1346 3.32516 46.1346 24.5362Z");
}
.pagination__link:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 45px;
  height: 48px;
  background: url("../../uploads/icons/slider-arrow-line.svg") no-repeat;
}
.pagination__link:last-of-type {
  margin-right: 0;
}
.pagination__link:hover:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.pagination__link.--current {
  cursor: default;
}
.pagination__link.--current:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.pagination__arrow {
  transform: translateX(0);
}
.pagination__arrow.--prev:hover {
  transform: translateX(-5px);
}
.pagination__arrow.--next:hover {
  transform: translateX(5px);
}

.form__wrap {
  width: 100%;
  max-width: 828px;
  padding: 100px 140px;
  margin: 0 auto;
  position: relative;
}
.form__wrap:before, .form__wrap:after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.form__wrap:before {
  width: 828px;
  height: 498px;
  background: url("../../uploads/icons/form-line.svg") no-repeat;
  background-size: contain;
}
.form__wrap:after {
  z-index: -1;
  width: 757px;
  height: 476px;
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  clip-path: path("M757 226.33C757 294.333 699.04 350.697 632.186 395.724C563.483 441.996 484.446 476 378.5 476C274.367 476 203.902 440.61 135.469 395.724C66.5259 350.503 0 295.53 0 226.33C0 88.4409 169.46 0 378.5 0C507.551 0 563.864 22.0369 632.186 80.2764C674.534 116.374 757 173.567 757 226.33Z");
}
.form__title {
  text-align: center;
  margin-bottom: 30px;
}
.form__subtitle {
  line-height: 31px;
  text-align: center;
  margin: 0 auto 40px;
  max-width: 540px;
}
.form__form {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input {
  margin-bottom: 20px;
}
.form__textarea {
  margin-bottom: 20px;
}
.form__check {
  margin-bottom: 20px;
}
.form__btn {
  max-width: 203px;
  margin-left: -15px;
}

.fancybox__content:focus:not(.carousel__button.is-close) {
  outline: none !important;
}
.fancybox__content video {
  outline: none !important;
}

.swiper-button-prev, .swiper-button-next {
  width: 45px;
  height: 46px;
  transition: 0.3s;
}
.swiper-button-prev:before, .swiper-button-prev:after, .swiper-button-next:before, .swiper-button-next:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.swiper-button-prev:before, .swiper-button-next:before {
  z-index: -1;
  top: 5px;
  left: 5px;
  width: 203px;
  height: 64px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M46.1346 24.5362C46.1346 45.7472 35.9455 47 23.3767 47C11.8296 41.9275 0.618774 45.7472 0.618774 24.5362C0.618774 3.32516 10.8078 0.623047 23.3767 0.623047C35.2601 5.69553 46.1346 3.32516 46.1346 24.5362Z");
}
.swiper-button-prev:after, .swiper-button-next:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 45px;
  height: 48px;
  background: url("../../uploads/icons/slider-arrow-line.svg") no-repeat;
}
.swiper-button-prev:hover:before, .swiper-button-next:hover:before {
  left: 0;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.swiper-button-prev.swiper-button-disabled:before, .swiper-button-next.swiper-button-disabled:before {
  opacity: 0;
}

.swiper-pagination-bullet {
  opacity: 1;
  margin: 0 10px !important;
  background: transparent;
  position: relative;
  transition: 0.3s;
}
.swiper-pagination-bullet:before, .swiper-pagination-bullet:after {
  content: "";
  transition: 0.3s;
  position: absolute;
}
.swiper-pagination-bullet:before {
  opacity: 0;
  transform: scale(0);
  z-index: -1;
  top: 1px;
  left: 2px;
  width: 15px;
  height: 14px;
  background: linear-gradient(90deg, #84E28E -9.36%, #54AA39 100%);
  clip-path: path("M14.5159 7.76083C14.5159 14.1241 11.4591 14.5 7.6885 14.5C4.22438 12.9782 0.861145 14.1241 0.861145 7.76083C0.861145 1.39755 3.91786 0.586914 7.6885 0.586914C11.2535 2.10865 14.5159 1.39755 14.5159 7.76083Z");
}
.swiper-pagination-bullet:after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 15px;
  height: 14px;
  background: url("../../uploads/icons/slider-bullet-line.svg") no-repeat;
  background-size: contain;
}
.swiper-pagination-bullet-active:before {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 1220px) {
  .socials__item {
    margin-bottom: 23px;
  }
  .socials__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .socials {
    display: flex;
    flex-wrap: wrap;
  }
  .socials__item {
    margin-right: 20px;
    margin-bottom: 0;
    display: block;
  }
  .socials__item:last-of-type {
    margin-right: 0;
  }
  .socials__item:hover {
    transform: translateY(-5px) translateX(0);
  }
  .socials__img {
    width: auto;
    max-width: 33px;
    height: 30px;
  }
  .socials__text {
    display: none;
  }
}