.certs {
  padding-bottom: 120px;
}
.certs__title {
  margin-bottom: 42px;
}
.certs__desc {
  line-height: 31px;
  max-width: 500px;
  margin: 0 auto 72px;
}
.certs__inner {
  position: relative;
}
.certs__inner:before, .certs__inner:after {
  z-index: -1;
  content: "";
  width: 359px;
  height: 355px;
  background: url(../../uploads/icons/reviews-line.svg) no-repeat;
  background-size: contain;
  position: absolute;
}
.certs__inner:before {
  top: -25px;
  left: 220px;
}
.certs__inner:after {
  top: 105px;
  right: 270px;
}
.certs__list {
  margin: 0 -20px -100px;
}
.certs__item {
  width: calc( 100% / 3 - 100px );
  margin: 0 50px 100px;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;
}
.certs__item img {
  border: 1px solid #656565;
}
.certs__item:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 1220px) {
  .certs__inner:before {
    left: 125px;
  }
  .certs__inner:after {
    top: 125px;
    right: 125px;
  }
  .certs__list {
    margin: 0 -20px -60px;
  }
  .certs__item {
    width: calc( 100% / 3 - 40px );
    margin: 0 20px 60px;
  }
}
@media screen and (max-width: 992px) {
  .certs {
    padding-bottom: 100px;
  }
  .certs__desc {
    margin: 0 auto 70px;
  }
  .certs__inner:before {
    top: -22px;
    left: 65px;
  }
  .certs__inner:after {
    top: -15px;
    right: 25px;
  }
  .certs__list {
    margin: 0 -15px -60px;
  }
  .certs__item {
    width: calc( 100% / 3 - 30px );
    margin: 0 15px 60px;
    height: 305px;
  }
}
@media screen and (max-width: 767px) {
  .certs__inner {
    overflow: visible;
  }
  .certs__inner:before {
    display: none;
  }
  .certs__list {
    flex-wrap: nowrap;
    margin: 0;
  }
  .certs__item {
    margin: 0;
    height: 355px;
  }
  .certs__item:hover {
    transform: none;
  }
}
@media screen and (max-width: 580px) {
  .certs {
    padding-bottom: 70px;
  }
  .certs__title {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .certs__desc {
    width: calc( 100% + 5px );
    margin: 0 auto 30px;
  }
  .certs__desc br {
    display: none;
  }
  .certs__inner:after {
    top: -25px;
    right: -125px;
  }
  .certs__item {
    width: 100%;
    max-width: 216px;
    height: 305px;
  }
  .certs__item img {
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -webkit-touch-callout: auto;
  }
}