@import ../../sys/sass/vars

.certs
	padding-bottom: 120px
	&__title
		margin-bottom: 40px
	&__desc
		line-height: 31px
		max-width: 500px
		margin: 0 auto 72px
	&__list
		margin: 0 -50px -100px
		position: relative
		&:before, &:after
			z-index: -1
			content: ""
			width: 359px
			height: 355px
			background: url(../../uploads/icons/reviews-line.svg) no-repeat
			background-size: contain
			position: absolute
		&:before
			top: -25px
			left: 240px
		&:after
			top: 105px
			right: 330px
	&__item
		width: calc( 100% / 3 - 100px )
		margin: 0 50px 100px
		transform: translateY(0)
		transition: .3s
		cursor: pointer
		img
			border: 1px solid $gray
		&:hover
			transform: translateY(-5px)

@media screen and (max-width: 1220px)
	// .certs

@media screen and (max-width: 992px)
	// .certs

@media screen and (max-width: 767px)
	// .certs
