.certs {
  padding-bottom: 120px;
}
.certs__title {
  margin-bottom: 42px;
}
.certs__desc {
  line-height: 31px;
  max-width: 500px;
  margin: 0 auto 72px;
}
.certs__list {
  margin: 0 -20px -100px;
  position: relative;
}
.certs__list:before, .certs__list:after {
  z-index: -1;
  content: "";
  width: 359px;
  height: 355px;
  background: url(../../uploads/icons/reviews-line.svg) no-repeat;
  background-size: contain;
  position: absolute;
}
.certs__list:before {
  top: -25px;
  left: 240px;
}
.certs__list:after {
  top: 105px;
  right: 290px;
}
.certs__item {
  width: calc( 100% / 3 - 100px );
  margin: 0 50px 100px;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;
}
.certs__item img {
  border: 1px solid #656565;
}
.certs__item:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 1220px) {
  .certs__list {
    margin: 0 -20px -60px;
  }
  .certs__list:before {
    left: 125px;
  }
  .certs__list:after {
    top: 125px;
    right: 125px;
  }
  .certs__item {
    width: calc( 100% / 3 - 40px );
    margin: 0 20px 60px;
  }
}
@media screen and (max-width: 992px) {
  .certs {
    padding-bottom: 100px;
  }
  .certs__desc {
    margin: 0 auto 70px;
  }
  .certs__list {
    margin: 0 -15px -60px;
  }
  .certs__list:before {
    top: -22px;
    left: 65px;
  }
  .certs__list:after {
    top: -15px;
    right: 25px;
  }
  .certs__item {
    width: calc( 100% / 3 - 30px );
    margin: 0 15px 60px;
    height: 305px;
  }
}