.input {
  display: block;
  transition: 0.3s;
  position: relative;
}
.input__wrap {
  position: relative;
}
.input__area {
  width: 100%;
  color: #656565;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  background: transparent;
  transition: 0.3s;
  position: relative;
}
.input__area::placeholder {
  color: #656565;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  transition: 0.3s;
  opacity: 1;
}
.input__area:focus::placeholder {
  opacity: 0;
}
.input.--gray {
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input.--gray:before {
  content: "";
  top: 50%;
  left: 50%;
  width: 380px;
  height: 64px;
  transform: translate(-50%, -50%);
  background: url("../../uploads/icons/input-line.svg") no-repeat;
  background-size: contain;
  position: absolute;
}
.input.--error .input__area {
  color: #ff1d1d;
}
.input.--error .input__area::placeholder {
  color: #ff1d1d;
}