.intro {
  padding: 30px 0 0;
}
.intro__info {
  width: 410px;
  margin-right: auto;
  position: relative;
}
.intro__info:before {
  z-index: -1;
  content: "";
  top: -215px;
  left: -195px;
  width: 963px;
  height: 869px;
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  clip-path: path("M963 413.195C963 537.344 889.268 640.243 804.221 722.445C716.821 806.922 616.277 869 481.5 869C349.03 869 259.39 804.392 172.333 722.445C84.6294 639.889 0 539.528 0 413.195C0 161.46 215.575 0 481.5 0C645.67 0 717.306 40.2312 804.221 146.555C858.093 212.456 963 316.869 963 413.195Z");
  position: absolute;
}
.intro__title {
  margin-bottom: 40px;
}
.intro__list {
  margin-bottom: 50px;
}
.intro__list li {
  margin-bottom: 20px;
}
.intro__list li:last-of-type {
  margin-bottom: 0;
}
.intro__btn {
  padding: 10px 20px;
  max-width: 203px;
}
.intro__preview {
  width: 704px;
  margin-top: -138px;
  margin-right: -68px;
  margin-left: auto;
}
.intro__img {
  pointer-events: none;
  position: relative;
}
.intro__img:before {
  z-index: -1;
  content: "";
  left: -50px;
  bottom: 10px;
  width: 690px;
  height: 672px;
  background: url("../../uploads/icons/intro-line.svg") no-repeat;
  position: absolute;
}

@media screen and (max-width: 1220px) {
  .intro__info:before {
    left: -265px;
    transform: scale(0.8);
  }
  .intro__preview {
    width: calc( 100% - 410px );
    margin-top: -70px;
    margin-right: -30px;
  }
  .intro__img:before {
    width: 500px;
    height: 500px;
    left: -30px;
    background-size: contain;
  }
}
@media screen and (max-width: 992px) {
  .intro {
    padding: 50px 0 70px;
  }
  .intro__info {
    width: 340px;
  }
  .intro__info:before {
    top: -155px;
    left: -235px;
    width: 737px;
    height: 665px;
    transform: none;
    clip-path: path("M737 316.196C737 411.201 680.571 489.944 615.484 552.849C548.595 617.495 471.647 665 368.5 665C267.118 665 198.515 615.559 131.889 552.849C64.7683 489.674 0 412.872 0 316.196C0 123.557 164.983 0 368.5 0C494.142 0 548.967 30.7868 615.484 112.151C656.713 162.582 737 242.483 737 316.196Z");
  }
  .intro__title {
    margin-bottom: 32px;
  }
  .intro__list {
    margin-bottom: 40px;
  }
  .intro__preview {
    width: 470px;
    right: -75px;
    margin-top: -80px;
    margin-right: 0;
    position: absolute;
  }
  .intro__img:before {
    left: 0;
    bottom: -20px;
    width: 460px;
    height: 453px;
  }
}