.reviews__title {
  margin-bottom: 70px;
}
.reviews__title br {
  display: none;
}
.reviews__desc {
  line-height: 31px;
  max-width: 886px;
  margin: -30px auto 70px;
}
.reviews__slider {
  padding-bottom: 100px;
}
.reviews__preview {
  margin-bottom: 30px;
  position: relative;
}
.reviews__preview:before {
  z-index: -1;
  content: "";
  top: 0;
  left: 15px;
  width: 306px;
  height: 304px;
  background: url("../../uploads/icons/reviews-line.svg") no-repeat;
  background-size: contain;
  position: absolute;
}
.reviews__img {
  width: 290px;
  height: 270px;
  clip-path: path("M240.961 26.4762C271.349 54.2618 281.542 93.6309 284.369 130.875C287.274 169.151 282.023 205.325 254.616 235.193C227.679 264.549 193.637 269.954 155.876 270.906C117.834 271.866 76.0596 268.158 45.1372 239.884C-16.4795 183.544 -12.1632 99.635 41.9121 40.704C75.2958 4.32278 99.7103 -2.54839 143.409 1.98674C170.494 4.7977 217.384 4.91785 240.961 26.4762Z");
}
.reviews__info {
  position: relative;
}
.reviews__info:before {
  z-index: -1;
  content: "";
  top: 42px;
  right: 0;
  width: 84px;
  height: 82px;
  background: url("../../uploads/icons/quote.png") no-repeat;
  background-size: contain;
  position: absolute;
}
.reviews__name {
  font-family: "Bad Script", sans-serif;
  margin: 18px 0 10px;
}
.reviews__text {
  line-height: 27px;
  transition: 0.3s;
}
.reviews__text-value, .reviews__text-arrow {
  display: inline;
}
.reviews__text-arrow {
  left: 0;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.reviews__text-arrow svg {
  display: inline;
  vertical-align: middle;
  margin-left: 9px;
}
.reviews__text-arrow:hover {
  left: 5px;
}
.reviews__text-arrow:hover svg path {
  stroke: #54AA39;
}
.reviews__text.--show .reviews__text-arrow {
  display: none;
}
.reviews__controls {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.reviews__arrow {
  top: 0;
  margin-top: 0;
  position: relative;
}
.reviews__arrow.swiper-button-prev {
  left: 0;
}
.reviews__arrow.swiper-button-next {
  right: 0;
}
.reviews__pagination {
  margin: 0 100px;
  width: auto !important;
  bottom: 0 !important;
  position: relative;
}

@media screen and (max-width: 992px) {
  .reviews__title {
    margin-bottom: 40px;
  }
  .reviews__title br {
    display: block;
  }
  .reviews__desc {
    margin: 0px auto 50px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__preview {
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
  .reviews__preview:before {
    left: 50%;
    margin-left: 10px;
    transform: translateX(-50%);
  }
  .reviews__pagination {
    margin: 0 30px;
  }
}
@media screen and (max-width: 580px) {
  .reviews__desc {
    margin: -20px auto 20px;
  }
  .reviews__slider {
    padding-bottom: 70px;
    overflow: visible;
  }
  .reviews__preview {
    width: 270px;
    height: 267px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews__preview:before {
    width: 270px;
    height: 267px;
  }
  .reviews__img {
    width: 250px;
    height: 238px;
    margin-left: -30px;
    clip-path: path("M212.317 22.8448C239.039 47.2781 248.002 81.8973 250.488 114.648C253.042 148.305 248.425 180.116 224.325 206.38C200.637 232.194 170.702 236.947 137.497 237.784C104.045 238.628 67.3109 235.368 40.1193 210.505C-14.0634 160.962 -10.2678 87.1769 37.2833 35.356C66.6392 3.36418 88.1081 -2.67797 126.535 1.31C150.352 3.78181 191.584 3.88747 212.317 22.8448Z");
  }
  .reviews__info:before {
    top: -8px;
  }
  .reviews__controls {
    margin-top: 32px;
  }
  .reviews__arrow {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .reviews__title {
    margin-bottom: 20px;
  }
  .reviews__preview {
    margin-bottom: 7px;
  }
  .reviews__controls {
    margin-top: 10px;
  }
}