.win__title {
  margin-bottom: 40px;
}
.win__desc {
  line-height: 31px;
  max-width: 438px;
  margin: 0 auto;
}
.win__list {
  margin-top: -52px;
  justify-content: center;
}
.win__item {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.win__item:before {
  z-index: -1;
  content: "";
  top: 15px;
  left: 0;
  width: 580px;
  height: 366px;
  background: linear-gradient(131.45deg, rgba(252, 227, 130, 0.3) 7.7%, #FCE382 91.64%);
  clip-path: path("M560 174.027C560 226.315 517.123 269.653 467.668 304.275C416.843 339.854 358.375 366 280 366C202.966 366 150.839 338.789 100.214 304.275C49.2133 269.505 0 227.235 0 174.027C0 68.0028 125.36 0 280 0C375.467 0 417.125 16.9443 467.668 61.7251C498.995 89.4811 560 133.457 560 174.027Z");
  position: absolute;
}
.win__item.--reverse:before {
  left: 25px;
  background: linear-gradient(294.01deg, #E5E5E5 9.68%, rgba(229, 229, 229, 0.3) 95.7%);
}
.win__item.--reverse .win__text {
  order: 1;
  padding-left: 0;
  padding-right: 40px;
  text-align: right;
}
.win__item.--reverse .win__img {
  order: 2;
}
.win__item.--fd {
  flex-direction: column;
}
.win__item.--fd:before {
  top: -65px;
  left: 50%;
  width: 372px;
  height: 243px;
  transform: translateX(-50%);
  background: linear-gradient(123deg, rgba(250, 215, 185, 0.3) 6.06%, #FAD7B9 93.02%);
  clip-path: path("M372 115.542C372 150.258 343.518 179.032 310.665 202.019C276.903 225.641 238.063 243 186 243C134.828 243 100.2 224.933 66.571 202.019C32.6917 178.933 0 150.869 0 115.542C0 45.1494 83.275 0 186 0C249.418 0 277.09 11.2499 310.665 40.9814C331.475 59.4096 372 88.6067 372 115.542Z");
}
.win__item.--fd .win__text {
  order: 1;
  padding-left: 0;
  padding-bottom: 30px;
  text-align: center;
}
.win__item.--fd .win__img {
  order: 2;
}
.win__img {
  width: 192px;
  max-height: 398px;
}
.win__img img {
  width: 100%;
  height: 100%;
}
.win__text {
  width: calc( 100% - 192px );
  padding-left: 40px;
  line-height: 31px;
}
.win__link {
  margin-top: 52px;
  justify-content: center;
}

@media screen and (max-width: 1220px) {
  .win__list {
    margin-top: 0;
    flex-direction: column;
  }
  .win__item {
    width: 58%;
    margin-top: -70px;
  }
  .win__item:first-of-type {
    margin-top: 0;
  }
  .win__item.--reverse {
    margin-left: auto;
  }
  .win__item.--reverse:before {
    left: -100px;
  }
  .win__item.--reverse .win__text {
    padding-right: 20px;
  }
  .win__item.--fd {
    margin-left: -80px;
    margin-right: auto;
  }
  .win__text {
    padding-left: 20px;
  }
  .win__text br {
    display: none;
  }
  .win__link {
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) {
  .win__item {
    width: 100%;
    margin-top: -25px;
  }
  .win__item.--reverse:before {
    right: -20px;
    left: auto;
  }
  .win__item.--reverse .win__text {
    padding-left: 170px;
    padding-right: 40px;
  }
  .win__item.--fd {
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .win__item.--fd .win__text {
    width: 100%;
    padding-right: 0;
  }
  .win__text {
    padding-left: 40px;
    padding-right: 140px;
  }
  .win__link {
    margin-top: 52px;
  }
}
@media screen and (max-width: 767px) {
  .win__item {
    margin-top: 0;
  }
  .win__item:before {
    left: 50px;
    width: 445px;
    height: 280px;
    clip-path: path("M444.24 133.135C444.24 173.137 410.227 206.292 370.994 232.779C330.676 259.998 284.294 280 222.12 280C161.01 280 119.659 259.183 79.4988 232.779C39.0403 206.178 0 173.841 0 133.135C0 52.024 99.4466 0 222.12 0C297.853 0 330.9 12.9629 370.994 47.2214C395.846 68.4555 444.24 102.098 444.24 133.135Z");
  }
  .win__item.--reverse:before {
    right: 50px;
  }
  .win__item.--reverse .win__text {
    padding-right: 20px;
    padding-left: 60px;
  }
  .win__item.--reverse .win__img {
    margin-left: auto;
  }
  .win__item.--fd {
    margin-left: 25px;
    margin-top: 20px;
  }
  .win__item.--fd:before {
    top: -30px;
    width: 322px;
    height: 218px;
    clip-path: path("M320 99.3913C320 129.255 295.499 154.006 267.239 173.779C238.196 194.1 204.786 209.032 160 209.032C115.981 209.032 86.1939 193.491 57.2654 173.779C28.1219 153.921 0 129.78 0 99.3913C0 38.8382 71.6344 0 160 0C214.553 0 238.357 9.67735 267.239 35.2528C285.14 51.105 320 76.2208 320 99.3913Z");
  }
  .win__item.--fd .win__text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .win__item.--fd .win__img {
    width: 220px;
  }
  .win__img {
    width: 150px;
    max-height: 310px;
  }
  .win__text {
    width: calc( 100% - 150px );
    padding-left: 20px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 580px) {
  .win__title {
    margin-bottom: 20px;
  }
  .win__list {
    margin-top: 30px;
  }
  .win__item {
    width: calc( 100% + 15px );
    margin-left: -20px;
  }
  .win__item:before {
    left: -20px;
  }
  .win__item.--reverse {
    margin-top: 40px;
  }
  .win__item.--reverse:before {
    right: -20px;
  }
  .win__item.--reverse .win__text {
    padding-left: 0;
    word-break: normal;
  }
  .win__item.--fd {
    width: calc( 100% + 15px );
    margin-left: -5px;
    margin-top: 60px;
  }
  .win__item.--fd .win__text {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .win__item.--fd .win__img {
    width: 200px;
  }
  .win__text {
    padding-right: 0;
  }
  .win__link {
    margin-top: 30px;
  }
}
@media screen and (max-width: 389px) {
  .win__text {
    word-break: break-all;
  }
}